.barrageTable {
  margin: 0;
  text-align: center;
  overflow: auto;
}

.barrageTable > thead > tr > th {
  min-width: 35px;
}

.barrageTable tr:nth-child(even) td:not(.barrageTitle) {
  background: #f8f9fa; /* light */
}

.barrageTable tr:nth-child(odd) td:not(.barrageTitle) {
  background: #eaecf0; /* dark  */
}
