---
import { HR } from "@components/_common/HR"
import WikiLink from "@components/_common/WikiLink.astro"
---

<!-- Changelog Head -->
<h2 id="9-5-2024">September 5th, 2024</h2>
<HR />
<ul>
  <li>
    <h5>Site Updates:</h5>
    <ul>
      <li>
        <p>Fixed Site Icon routing URL.</p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Equipment:</h5>
    <ul>
      <li>
        <p>
          Added equipment from
          <WikiLink page="Windborne Steel Wings">Windborne Steel Wings</WikiLink
          >:
        </p>
        <ul>
          <li>
            <p>
              <WikiLink page="Fargo Direct Drone">Fargo Direct Drone</WikiLink>
              - (CB/CA/CL Aux, DD Aux)
            </p>
          </li>
        </ul>
      </li>
      <li>
        <p>
          Added equipment from
          <WikiLink page="Interlude of Illusions"
            >Interlude of Illusions</WikiLink
          >:
        </p>
        <ul>
          <li>
            <p>
              <WikiLink page="Limited-Edition Joint Exercise Coin"
                >Limited-Edition Joint Exercise Coin</WikiLink
              >
              - (DD Aux)
            </p>
          </li>
        </ul>
      </li>
      <li>
        <p>Reorganized CB/CA/CL Auxes.</p>
      </li>
      <li>
        <p>
          Fixed a typo regarding the name of Blackburn Firebrand (Torpedo
          Bombers).
        </p>
      </li>
      <li>
        <p>Fixed the description of the KGV Gun / Quadruple 356mm (BB Guns).</p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Farming:</h5>
    <ul>
      <li>
        <p>Removed Guild Shop ships from Map Drop section:</p>
        <ul>
          <li>
            <p>
              <WikiLink page="Ashigara">Ashigara</WikiLink>
              (Guild Shop)
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Michishio">Michishio</WikiLink>
              (Guild Shop)
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Mogami">Mogami</WikiLink>
              (Guild Shop)
            </p>
          </li>
        </ul>
      </li>
    </ul>
  </li>
  <li>
    <h5>Fleetbuilding:</h5>
    <ul>
      <li>
        <p>
          Added ships from
          <WikiLink page="Whence Flowers Bear No Fruit"
            >Whence Flowers Bear No Fruit</WikiLink
          >:
        </p>
        <ul>
          <li>
            <p>
              <WikiLink page="Zuihou">Zuihou</WikiLink>
              - Healer
            </p>
          </li>
        </ul>
      </li>
      <li>
        <p>
          Added ships from
          <WikiLink page="Windborne Steel Wings">Windborne Steel Wings</WikiLink
          >:
        </p>
        <ul>
          <li>
            <p>
              <WikiLink page="Indiana">Indiana</WikiLink>
              - Off-Flag BB
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Pittsburgh">Pittsburgh</WikiLink>
              - Damage Dealer
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Fargo">Fargo</WikiLink>
              - Damage Dealer / Support
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Eldridge">Eldridge (Retrofit)</WikiLink>
              - Support
            </p>
          </li>
        </ul>
      </li>
      <li>
        <p>
          Added ships from
          <WikiLink page="Interlude of Illusions"
            >Interlude of Illusions</WikiLink
          >:
        </p>
        <ul>
          <li>
            <p>
              <WikiLink page="Strasbourg">Strasbourg</WikiLink>
              - Off-Flag BB
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="L'Audacieux">L'Audacieux</WikiLink>
              - Damage Dealer
            </p>
          </li>
        </ul>
      </li>
      <li>
        <p>Added buffed ships due to 9/5 Augment Modules:</p>
        <ul>
          <li>
            <p>
              <WikiLink page="Ibuki">Ibuki</WikiLink>
              - Damage Dealer
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Tashkent">Tashkent</WikiLink>
              - Damage Dealer / Support
            </p>
          </li>
        </ul>
      </li>
      <li>
        <p>Added recent META ships:</p>
        <ul>
          <li>
            <p>
              <WikiLink page="Nagato META">Nagato META</WikiLink>
              - Flagship BB
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Kasumi META">Kasumi META</WikiLink>
              - Support
            </p>
          </li>
        </ul>
      </li>
      <li>
        <p>
          Moved ships from
          <WikiLink page="Daedalian Hymn">Daedalian Hymn</WikiLink>
          to permanent.
        </p>
      </li>
      <li>
        <p>Updated Hard Mode Requirement Help Section with newer ships:</p>
        <ul>
          <li>
            <p>
              <WikiLink page="Daisen">Daisen</WikiLink>
              - TRP
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Alvitr">Alvitr</WikiLink>
              - TRP
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Kearsarge">Kearsarge</WikiLink>
              - AVI
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="The 2nd">The 2nd</WikiLink>
              - AVI
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Halford">Halford</WikiLink>
              - AVI
            </p>
          </li>
        </ul>
      </li>
      <li>
        <p>Added new section for good Vanguard slow supports.</p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Fleet Technology:</h5>
    <ul>
      <li>
        <p>
          Added relevant permanent ships from
          <WikiLink page="Daedalian Hymn">Daedalian Hymn</WikiLink>
          to RN section:
        </p>
        <ul>
          <li>
            <p>
              <WikiLink page="Duca degli Abruzzi">Duca degli Abruzzi</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Torricelli">Torricelli</WikiLink>
            </p>
          </li>
        </ul>
      </li>
    </ul>
  </li>
  <li>
    <h5>Newbie Tips:</h5>
    <ul>
      <li>
        <p>Updated "Mail is a Bank" section with updated Mail mechanics.</p>
      </li>
      <li>
        <p>Reordered sections to improve flow.</p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Research:</h5>
    <ul>
      <li>
        <p>
          Increased the priority of
          <WikiLink page="Shimanto">Shimanto</WikiLink>
          in Shipyard Priority Section due to PR6 Fate Simulations.
        </p>
      </li>
      <li>
        <p>
          Increased the priority of
          <WikiLink page="Cheshire">Cheshire</WikiLink>
          in Shipyard Priority Section due to AA becoming relevant again.
        </p>
      </li>
      <li>
        <p>
          Increased the priority of
          <WikiLink page="Ibuki">Ibuki</WikiLink>
          in Shipyard Priority Section due to Ibuki Augment Module.
        </p>
      </li>
      <li>
        <p>
          Decreased the priority of
          <WikiLink page="Prinz Rupprecht">Prinz Rupprecht</WikiLink>,
          <WikiLink page="Halford">Halford</WikiLink>
          in Shipyard Priority Section.
        </p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Samvaluations:</h5>
    <ul>
      <li>
        <p>
          Added ships from
          <WikiLink page="Whence Flowers Bear No Fruit"
            >Whence Flowers Bear No Fruit</WikiLink
          >:
        </p>
        <ul>
          <li>
            <p>
              <WikiLink page="Zuihou">Zuihou</WikiLink>
            </p>
          </li>
        </ul>
      </li>
      <li>
        <p>
          Added ships from
          <WikiLink page="Windborne Steel Wings">Windborne Steel Wings</WikiLink
          >:
        </p>
        <ul>
          <li>
            <p>
              <WikiLink page="Indiana">Indiana</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Pittsburgh">Pittsburgh</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Fargo">Fargo</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Bell">Bell</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Herring">Herring</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Eldridge">Eldridge (Retrofit)</WikiLink>
            </p>
          </li>
        </ul>
      </li>
      <li>
        <p>
          Added ships from
          <WikiLink page="Interlude of Illusions"
            >Interlude of Illusions</WikiLink
          >:
        </p>
        <ul>
          <li>
            <p>
              <WikiLink page="Strasbourg">Strasbourg</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="L'Audacieux">L'Audacieux</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Dupleix">Dupleix</WikiLink>
            </p>
          </li>
        </ul>
      </li>
      <li>
        <p>Added 9/5 Augment Modules:</p>
        <ul>
          <li>
            <p>
              <WikiLink page="Ibuki">Ibuki</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Tashkent">Tashkent</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Exeter">Exeter</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Dunkerque">Dunkerque</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Shiranui">Shiranui</WikiLink>
            </p>
          </li>
        </ul>
      </li>
      <li>
        <p>Added 8/8 Augment Modules:</p>
        <ul>
          <li>
            <p>
              <WikiLink page="U-96">U-96</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Long Island">Long Island</WikiLink>
            </p>
          </li>
        </ul>
      </li>
      <li>
        <p>Added recent META ships:</p>
        <ul>
          <li>
            <p>
              <WikiLink page="Nagato META">Nagato META</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Kasumi META">Kasumi META</WikiLink>
            </p>
          </li>
        </ul>
      </li>
    </ul>
  </li>
  <li>
    <h5>Shop Priority:</h5>
    <ul>
      <li>
        <p>
          Added
          <WikiLink page="Eldridge">Eldridge</WikiLink>
          to Merit Shop Priority.
        </p>
      </li>
    </ul>
  </li>
</ul>
<br />

<!-- Changelog Head -->
<h2 id="7-20-2024">July 20th, 2024</h2>
<HR />
<ul>
  <li>
    <h5>Site Updates:</h5>
    <ul>
      <li>
        <p>Automated Imgur updating.</p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Equipment:</h5>
    <ul>
      <li>
        <p>
          Added equipment from
          <WikiLink page="Research Academy#Prototype Equipment"
            >Research Series 7</WikiLink
          >:
        </p>
        <ul>
          <li>
            <p>
              <WikiLink page="Lavochkin La-9 (Carrier-based Prototype)"
                >Prototype Carrier-Based La-9</WikiLink
              >
              (Fighters, Plus13)
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Polikarpov VIT-2 (Mode Change Prototype)"
                >Prototype VIT-2 (Mode Change)</WikiLink
              >
              (Torpedo Bombers, Plus13)
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Grumman F8F Bearcat (Floatplane Prototype)"
                >Prototype F8F Bearcat (Float)</WikiLink
              >
              (Recon Planes)
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Twin 410mm (Mod.A Prototype)"
                >Prototype Twin 410mm mod.A Main Gun Mount</WikiLink
              >
              (BB Guns)
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Triple 254mm (Model 1939 Prototype)"
                >Triple 254mm Model 1939 Main Gun Mount</WikiLink
              >
              (CA Guns)
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Triple 152mm (Model 1936 Prototype)"
                >Triple 152mm Model 1936 Main Gun Mount</WikiLink
              >
              (CL Guns)
            </p>
          </li>
        </ul>
      </li>
      <li>
        <p>
          Added equipment from
          <WikiLink page="Welcome to Little Academy"
            >Welcome to Little Academy</WikiLink
          >:
        </p>
        <ul>
          <li>
            <p>
              <WikiLink page="533mm Improved Quadruple Magnetic Torpedo Mount"
                >533mm Improved Quadruple Magnetic Torpedo Mount</WikiLink
              >
              (Surface Torpedo, Plus13)
            </p>
          </li>
        </ul>
      </li>
      <li>
        <p>
          Fixed inconsistencies in the use of the phrase "Raw Damage" throughout
          guide.
        </p>
      </li>
      <li>
        <p>Fixed a typo regarding the name of XTB2D-1 Skypirate.</p>
      </li>
      <li>
        <p>
          Adjusted gear descriptions of older gear to account for newer gear
          being added.
        </p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Fleetbuilding:</h5>
    <ul>
      <li>
        <p>
          Added ships from
          <WikiLink page="Research#Series 7">Research Series 7</WikiLink>:
        </p>
        <ul>
          <li>
            <p>
              <WikiLink page="Admiral Nakhimov">Admiral Nakhimov</WikiLink>
              - Damage CV
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Napoli">Napoli</WikiLink>
              - Boss Tank
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Bayard">Bayard</WikiLink>
              - Damage Dealer
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Halford">Halford</WikiLink>
              - Damage Dealer
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Daisen">Daisen</WikiLink>
              - Off-Flag BB
            </p>
          </li>
        </ul>
      </li>
      <li>
        <p>
          Added ships from
          <WikiLink page="Welcome to Little Academy"
            >Welcome to Little Academy</WikiLink
          >:
        </p>
        <ul>
          <li>
            <p>
              <WikiLink page="Alvitr">Alvitr</WikiLink>
              - Flagship BB
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Z47">Z47</WikiLink>
              - Damage Dealer
            </p>
          </li>
        </ul>
      </li>
      <li>
        <p>
          Added
          <WikiLink page="Wichita META">Wichita META</WikiLink>
          - Damage Dealer.
        </p>
      </li>
      <li>
        <p>Added buffed ships due to 6/13 Augment Modules:</p>
        <ul>
          <li>
            <p>
              <WikiLink page="Izumo">Izumo</WikiLink>
              - Flagship BB
            </p>
          </li>
        </ul>
      </li>
      <li>
        <p>
          Moved ships from
          <WikiLink page="Upon the Shimmering Blue"
            >Upon the Shimmering Blue</WikiLink
          >
          to permanent.
        </p>
      </li>
      <li>
        <p>
          Moved ships from
          <WikiLink page="Angel of the Iris">Angel of the Iris</WikiLink>
          to permanent.
        </p>
      </li>
      <li>
        <p>
          Removed
          <WikiLink page="Le Malin µ">Le Malin µ</WikiLink>
          and
          <WikiLink page="Tashkent µ">Tashkent µ</WikiLink>
          due to powercreep amongst easily accessible options.
        </p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Fleet Technology:</h5>
    <ul>
      <li>
        <p>Added PR7 acquisition Tech Point values where applicable.</p>
      </li>
      <li>
        <p>
          Added section for
          <WikiLink page="Northern Parliament">Northern Parliament</WikiLink>
          Tech Point Acquisition.
        </p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Research:</h5>
    <ul>
      <li>
        <p>Added PR7 to Shipyard Priority section.</p>
      </li>
      <li>
        <p>Increased the priority of Izumo in Shipyard Priority section.</p>
      </li>
      <li>
        <p>Removed PR4 from Research Focus Optimization.</p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Samvaluations:</h5>
    <ul>
      <li>
        <p>
          Added ships from
          <WikiLink page="Research#Series 7">Research Series 7</WikiLink>:
        </p>
        <ul>
          <li>
            <p>
              <WikiLink page="Admiral Nakhimov">Admiral Nakhimov</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Napoli">Napoli</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Bayard">Bayard</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Halford">Halford</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Daisen">Daisen</WikiLink>
            </p>
          </li>
        </ul>
      </li>
      <li>
        <p>
          Added ships from
          <WikiLink page="Welcome to Little Academy"
            >Welcome to Little Academy</WikiLink
          >:
        </p>
        <ul>
          <li>
            <p>
              <WikiLink page="Alvitr">Alvitr</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Z47">Z47</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Z43">Z43</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="U-31">U-31</WikiLink>
            </p>
          </li>
        </ul>
      </li>
      <li>
        <p>Added 7/11 Augment Modules:</p>
        <ul>
          <li>
            <p>
              <WikiLink page="Centaur">Centaur</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Leipzig">Leipzig</WikiLink>
            </p>
          </li>
        </ul>
      </li>
      <li>
        <p>Added 6/13 Augment Modules:</p>
        <ul>
          <li>
            <p>
              <WikiLink page="Izumo">Izumo</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Jamaica">Jamaica</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Le Malin">Le Malin</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="San Diego">San Diego</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Spence">Spence</WikiLink>
            </p>
          </li>
        </ul>
      </li>
      <li>
        <p>Added recent META ships:</p>
        <ul>
          <li>
            <p>
              <WikiLink page="Wichita META">Wichita META</WikiLink>
            </p>
          </li>
        </ul>
      </li>
      <li>
        <p>
          Updated descriptions slightly for
          <WikiLink page="Pledge of the Radiant Court"
            >Pledge of the Radiant Court</WikiLink
          >
          ships.
        </p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Shop Priority:</h5>
    <ul>
      <li>
        <p>Added gear from 7/1 Core Data Shop update:</p>
        <ul>
          <li>
            <p>
              <WikiLink page="Action Report: Operation AF"
                >Action Report: Operation AF</WikiLink
              >
              (Core Data Ltd.)
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Triple 152mm (MK-5)#Type 3-0"
                >Triple 152mm B-38 MK 5 Main Gun Mount</WikiLink
              >
              (Core Data Shop)
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Angel%27s Feather">Angel's Feather</WikiLink>
              (Core Data Ltd.)
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Br%C3%A9guet Br.810">Bréguet Br.810</WikiLink>
              (Core Data Shop)
            </p>
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
<br />

<!-- Changelog Head -->
<h2 id="6-9-2024">June 9th, 2024</h2>
<HR />
<ul>
  <li>
    <h5>Common Resource:</h5>
    <ul>
      <li>
        <p>
          Clarified how to get extra META crystal fragments (Excess META ship
          RNG -> Excess META Crystal RNG).
        </p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Equipment:</h5>
    <ul>
      <li>
        <p>
          Added equipment from
          <WikiLink page="Light of the Martyrium"
            >Light of the Martyrium</WikiLink
          >:
        </p>
        <ul>
          <li>
            <p>
              <WikiLink page="Twin 138.6mm (Mle 1934)"
                >Twin 138.6mm Mle 1934 Naval Gun</WikiLink
              >
              (DD Guns, Plus13).
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="550mm Torpedo Mount (Twin %2B Triple)"
                >550mm Torpedo Mount (Double + Triple)</WikiLink
              >
              (Surface Torpedo).
            </p>
          </li>
        </ul>
      </li>
      <li>
        <p>
          Added
          <WikiLink page="Enigmata 'D'">Enigmata 'D'</WikiLink>
          (DD Aux).
        </p>
      </li>
      <li>
        <p>Added equipment from 6/6 Gear Lab update:</p>
        <ul>
          <li>
            <p>
              <WikiLink page="Single 113mm (QF Mk IV)"
                >Single 113mm Dual-Purpose Mark IV Gun Mount</WikiLink
              >
              (DD Guns, Gear Lab).
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Twin 80mm AA (Type 98)"
                >Twin 80mm Type 98 High-Angle Gun Mount</WikiLink
              >
              (AA Guns, Gear Lab).
            </p>
          </li>
        </ul>
      </li>
      <li>
        <p>
          Added gear lab as a location for
          <WikiLink page="Triple 406mm (16%22/50 Mk 7)"
            >Triple 406mm MK7 Main Gun</WikiLink
          >
          (BB Guns, Gear Lab, Plus13).
        </p>
      </li>
      <li>
        <p>
          Edited descriptions for Twin 100 Kai, Twin 135, to account for Twin
          138.6 coming out (DD Guns, Plus13).
        </p>
      </li>
      <li>
        <p>Moved Prototype Twin 457 up (Gear Lab).</p>
      </li>
      <li>
        <p>Removed high-priority border from Spearfish (Gear Lab).</p>
      </li>
      <li>
        <p>Renamed some gear to match EN names.</p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Fleetbuilding:</h5>
    <ul>
      <li>
        <p>
          Added ships from
          <WikiLink page="Light of the Martyrium"
            >Light of the Martyrium</WikiLink
          >:
        </p>
        <ul>
          <li>
            <p>
              <WikiLink page="Alsace">Alsace</WikiLink>
              - Off-Flag BB
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Mogador">Mogador</WikiLink>
              - Damage Dealer
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="B%C3%A9arn META">Béarn META</WikiLink>
              - Damage CV
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Brennus">Brennus</WikiLink>
              - Mob Tank
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="West Virginia">Colorado (Retrofit)</WikiLink>
              - Flagship BB
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Little Friedrich">Little Friedrich</WikiLink>-
              Flagship BB
            </p>
          </li>
        </ul>
      </li>
      <li>
        <p>
          Added
          <WikiLink page="West Virginia">West Virginia (Retrofit)</WikiLink>
          - Flagship BB
        </p>
      </li>
      <li>
        <p>
          Added
          <WikiLink page="Alsace">Alsace</WikiLink>
          to Cross-fleet Effects.
        </p>
      </li>
      <li>
        <p>
          Added
          <WikiLink page="B%C3%A9arn META">Béarn META</WikiLink>
          to Hard Mode Requirement Help.
        </p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Samvaluations:</h5>
    <ul>
      <li>
        <p>
          Added ships from
          <WikiLink page="Light of the Martyrium"
            >Light of the Martyrium</WikiLink
          >:
        </p>
        <ul>
          <li>
            <p>
              <WikiLink page="Alsace">Alsace</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Mogador">Mogador</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="B%C3%A9arn META">Béarn META</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Brennus">Brennus</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="%C3%89p%C3%A9e">Épée</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Fleuret">Fleuret</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="West Virginia">Colorado (Retrofit)</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Little Friedrich">Little Friedrich</WikiLink>
            </p>
          </li>
        </ul>
      </li>
      <li>
        <p>Added recent META ships:</p>
        <ul>
          <li>
            <p>
              <WikiLink page="Foch META">Foch META</WikiLink>
            </p>
          </li>
        </ul>
      </li>
    </ul>
  </li>
  <li>
    <h5>Shop Priority:</h5>
    <ul>
      <li>
        <p>Lowered priority of Quadruple 152 in Prototype Shop.</p>
      </li>
      <li>
        <p>Changed Medal Shop PR/DR prints to Series 6 in Medal Shop.</p>
      </li>
    </ul>
  </li>
</ul>
<br />

<!-- Changelog Head -->
<h2 id="5-12-2024">May 12th, 2024</h2>
<HR />
<ul>
  <li>
    <h5>Site Updates:</h5>
    <ul>
      <li>
        <p>Added cover to Equipment Guide (courtesy of @minestrone_soup).</p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Common Resource:</h5>
    <ul>
      <li>
        <p>
          Updated UR Bulin amounts with 1000 Specialized Core from Medal Shop.
        </p>
      </li>
      <li>
        <p>Updated Cognitive Chip count from 200/day -> 210/day.</p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Equipment:</h5>
    <ul>
      <li>
        <p>
          Added equipment from
          <WikiLink page="Heart-Linking Harmony">Heart-Linking Harmony</WikiLink
          >
          (DD aux, IXM aux, BGM aux).
        </p>
      </li>
      <li>
        <p>
          Added
          <WikiLink page="Echoes of Relinquished Time"
            >Echoes of Relinquished Time</WikiLink
          >
          (CV/CVL Aux).
        </p>
      </li>
      <li>
        <p>
          Reordered Gear Lab Priority (lowered Fw-190 Rocket, Ryuusei; raised
          Spearfish, Ju-87 D-4).
        </p>
      </li>
      <li>
        <p>Removed Prototype Triple 380mm (BB Guns, Gear Lab).</p>
      </li>
      <li>
        <p>
          Reworded descriptions for various Torpedo Bombers (Torpedo Bombers,
          Plus13)
        </p>
      </li>
      <li>
        <p>
          Moved Spearfish to be Wyvern Sidegrade (Torpedo Bombers, Gear Lab).
        </p>
      </li>
      <li>
        <p>Fixed rarity color for Fairey Albacore (Torpedo Bombers).</p>
      </li>
      <li>
        <p>Fixed broken links in Table of Contents.</p>
      </li>
      <li>
        <p>Fixed typos / minor formatting issues.</p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Fleetbuilding:</h5>
    <ul>
      <li>
        <p>
          Added ships from
          <WikiLink page="Heart-Linking Harmony">Heart-Linking Harmony</WikiLink
          >:
        </p>
        <ul>
          <li>
            <p>
              <WikiLink page="Noshiro μ">Noshiro μ</WikiLink>
              - Damage Dealer / Support
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Formidable μ">Formidable μ</WikiLink>
              - Damage CV
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Prinz Eugen μ">Prinz Eugen μ</WikiLink>
              - Mob Tank
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Boise μ">Boise μ</WikiLink>
              - Damage Dealer
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Shinano-chan">Shinano-chan</WikiLink>
              - Damage CV
            </p>
          </li>
        </ul>
      </li>
      <li>
        <p>
          Added
          <WikiLink page="I-19">I-19</WikiLink>
          to Submarine sections.
        </p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Fleet Technology:</h5>
    <ul>
      <li>
        <p>Fixed Tech Point numbers for KMS and RN.</p>
      </li>
      <li>
        <p>Fixed typo relating to U-37 drop location.</p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Samvaluations:</h5>
    <ul>
      <li>
        <p>
          Added ships from
          <WikiLink page="Heart-Linking Harmony">Heart-Linking Harmony</WikiLink
          >:
        </p>
        <ul>
          <li>
            <p>
              <WikiLink page="Noshiro μ">Noshiro μ</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Formidable μ">Formidable μ</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Prinz Eugen μ">Prinz Eugen μ</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Boise μ">Boise μ</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Le Téméraire μ">Le Téméraire μ</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Kongou μ">Kongou μ</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Shinano-chan">Shinano-chan</WikiLink>
            </p>
          </li>
        </ul>
      </li>
      <li>
        <p>Added Samvaluations for 5/9 Augment Modules:</p>
        <ul>
          <li>
            <p>
              <WikiLink page="North Carolina">North Carolina</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Scharnhorst">Scharnhorst</WikiLink>
            </p>
          </li>
        </ul>
      </li>
      <li>
        <p>Added Samvaluations for 4/18 Augment Modules:</p>
        <ul>
          <li>
            <p>
              <WikiLink page="Chapayev">Chapayev</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Comet">Comet (Retrofit)</WikiLink>
            </p>
          </li>
        </ul>
      </li>
      <li>
        <p>Added PR3/DR3 ships:</p>
        <ul>
          <li>
            <p>
              <WikiLink page="Cheshire">Cheshire</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Drake">Drake</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Mainz">Mainz</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Odin">Odin</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Champagne">Champagne</WikiLink>
            </p>
          </li>
        </ul>
      </li>
      <li>
        <p>
          Updated evaluations for
          <WikiLink page="Ping Hai">Ping Hai</WikiLink>
          and
          <WikiLink page="Ning Hai">Ning Hai</WikiLink>.
        </p>
      </li>
      <li>
        <p>
          Fixed typo in
          <WikiLink page="Flandre">Flandre</WikiLink>'s evaluation.
        </p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Shop Priority:</h5>
    <ul>
      <li>
        <p>Added 1000 Specialized Core in Medal Shop.</p>
      </li>
      <li>
        <p>Lowered DDG priority in Guild Shop.</p>
      </li>
    </ul>
  </li>
</ul>
<br />

<!-- Changelog Head -->
<h2 id="3-28-2024">March 28th, 2024</h2>
<HR />
<ul>
  <li>
    <h5>Site Updates:</h5>
    <ul>
      <li>
        <p>Overhauled Site Navbar to accomodate integration of Equip & Misc.</p>
        <ul>
          <li>
            <p>
              The Google Sheet will still be active, like usual. The Imgur will
              be updated as well, but will contain more lazily / haphazard image
              ordering.
            </p>
          </li>
        </ul>
      </li>
      <li>
        <p>
          Fixed bug where images overlapped with table of contents awkwardly.
        </p>
      </li>
      <li>
        <p>Added metadata to major site guides.</p>
      </li>
      <li>
        <p>Added large buttons to site homepage.</p>
      </li>
      <li>
        <p>Automated updating images from Google Sheets -> Website.</p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Common Resource:</h5>
    <ul>
      <li>
        <p>Fixed type for Core Data (Chapter 12 -> Chapter 13)</p>
      </li>
    </ul>
  </li>

  <li>
    <h5>Equipment:</h5>
    <ul>
      <li>
        <p>Moved FW-190 Rocket down (Plus13).</p>
      </li>
      <li>
        <p>Reordered Main Guns (Plus13).</p>
      </li>
      <li>
        <p>Slightly edited descriptions of 2x1000lb Fighters (Fighters).</p>
      </li>
      <li>
        <p>Merged Augment Module Guide with Equipment.</p>
      </li>
      <li>
        <p>
          Added
          <WikiLink page="RPG Adventure Interface"
            >RPG Adventure Interface</WikiLink
          >
          (DD Aux, IX Aux)
        </p>
      </li>
      <li>
        <p>Fixed broken hyperlinks.</p>
      </li>
    </ul>
  </li>

  <li>
    <h5>Farming:</h5>
    <ul>
      <li>
        <p>
          Added note that 12-1 is significantly better than previous stages to
          grind, due to Cognitive Chip and Augmentation Material drop chances.
        </p>
      </li>
      <li>
        <p>Added Operation Siren Image Guides (from Equip & Misc.).</p>
      </li>
    </ul>
  </li>

  <li>
    <h5>Fleetbuilding:</h5>
    <ul>
      <li>
        <p>
          Added ships from
          <WikiLink page="From Zero to Hero">From Zero to Hero</WikiLink>:
        </p>
        <ul>
          <li>
            <p>
              <WikiLink page="Friedrich Carl">Friedrich Carl</WikiLink>
              - Boss Tank
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Nubian">Nubian</WikiLink>
              - Damage Dealer
            </p>
          </li>
        </ul>
      </li>
      <li>
        <p>
          Added
          <WikiLink page="Rodney META">Rodney META</WikiLink>
          - Off-Flag BB
        </p>
      </li>
      <li>
        <p>Added section about Cross-fleet Effects (from Equip & Misc.).</p>
      </li>
      <li>
        <p>
          Added section about Hard Mode Requirement Help (from Equip & Misc.).
        </p>
      </li>
    </ul>
  </li>

  <li>
    <h5>Newbie Tips:</h5>
    <ul>
      <li>
        <p>
          Added lines regarding usage of SR Rarity ships not listed in the
          guide.
        </p>
      </li>
      <li>
        <p>Added note about how resource intensive UR ships are.</p>
      </li>
      <li>
        <p>Fixed typos throughout guide.</p>
      </li>
    </ul>
  </li>

  <li>
    <h5>Samvaluations:</h5>
    <ul>
      <li>
        <p>
          Added ships from
          <WikiLink page="From Zero to Hero">From Zero to Hero</WikiLink>:
        </p>
        <ul>
          <li>
            <p>
              <WikiLink page="Friedrich Carl">Friedrich Carl</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Nubian">Nubian</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Devonshire">Devonshire</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Liverpool">Liverpool</WikiLink>
            </p>
          </li>
        </ul>
      </li>
      <li>
        <p>
          Added ships from
          <WikiLink page="Abyssal Refrain">Abyssal Refrain</WikiLink>:
        </p>
        <ul>
          <li>
            <p>
              <WikiLink page="Kronshtadt">Kronshtadt</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Kiev">Kiev</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Volga">Volga</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Arkhangelsk">Arkhangelsk</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Soobrazitelny">Soobrazitelny</WikiLink>
            </p>
          </li>
        </ul>
      </li>
      <li>
        <p>
          Added ships from
          <WikiLink page="Virtual Tower">Virtual Tower</WikiLink>:
        </p>
        <ul>
          <li>
            <p>
              <WikiLink page="Impero">Impero</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Pompeo Magno">Pompeo Magno</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Trieste">Trieste</WikiLink>
            </p>
          </li>
        </ul>
      </li>
      <li>
        <p>Added Samvaluations for 3/21 Augment Modules:</p>
        <ul>
          <li>
            <p>
              <WikiLink page="Nicholas">Nicholas</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Dido">Dido</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="I-19">I-19</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Sendai">Sendai</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Le Mars">Le Mars</WikiLink>
            </p>
          </li>
        </ul>
      </li>
      <li>
        <p>Added recent META ships:</p>
        <ul>
          <li>
            <p>
              <WikiLink page="Rodney META">Rodney META</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Vampire META">Vampire META</WikiLink>
            </p>
          </li>
        </ul>
      </li>
      <li>
        <p>Rewrote PR6 ships' evaluations.</p>
      </li>
      <li>
        <p>Fixed broken hyperlinks.</p>
      </li>
    </ul>
  </li>

  <li>
    <h5>Shop Priority:</h5>
    <ul>
      <li>
        <p>Added embed image for Core Data Priority (from Equip & Misc.).</p>
      </li>
      <li>
        <p>
          Added embed image for Prototype Core Priority (from Equip & Misc.).
        </p>
      </li>
    </ul>
  </li>
</ul>
<br />

<!-- Changelog Head -->
<h2 id="3-3-2024">March 3rd, 2024</h2>
<HR />
<ul>
  <li>
    <h5>Common Resource:</h5>
    <ul>
      <li>
        <p>
          Fixed income for Gold Plates (added Weekly Missions, Supply Line
          Disruption).
        </p>
      </li>
    </ul>
  </li>

  <li>
    <h5>Equipment & Misc.:</h5>
    <ul>
      <li>
        <p>Added missing Cargo to AE Auxes.</p>
        <ul>
          <li>
            <p>
              <WikiLink page="Mawei Type-Wu">Mawei Type-Wu</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Dragon Figurine">Dragon Figurine</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Crab (With Receipt)">Crab (With Receipt)</WikiLink
              >
            </p>
          </li>
        </ul>
      </li>
      <li>
        <p>
          Added
          <WikiLink page="Air Radar#Type 3-0">Air Radar</WikiLink>; removed
          useless / misleading / outdated notes (AR Auxes).
        </p>
      </li>
      <li>
        <p>Added links to missing songs (Cosmetic Auxes).</p>
        <ul>
          <li>
            <p>
              <WikiLink page="Sacred Lumi%C3%A8re">Sacred Lumière</WikiLink>
              (A Song of Prayer - Le Malin)
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="White-Hot Verheerender"
                >White-Hot Verheerender</WikiLink
              >
              (Seafarer's Loyalty - Roon, Taihou)
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Resplendent Astrum">Resplendent Astrum</WikiLink>
              (Blue Spirit - Illustrious, Baltimore, Dido, Tashkent, Albacore)
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Goldburn">Goldburn</WikiLink>
              (World Spanning Arclight Boss Theme)
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Dynamic Cannon">Dynamic Cannon</WikiLink>
              (World Spanning Arclight Normal Battle Theme)
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Heart Key">Heart Key</WikiLink>
              (Learning Lesson Theme - DoA XVV OST)
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Energianica">Energianica</WikiLink>
              (The Alchemist and the Archipelago of Secrets - Battle Theme)
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Shinobi Medal">Shinobi Medal</WikiLink>
              (The Ninja Scrolls: Azur Flash Stage Theme)
            </p>
          </li>
        </ul>
      </li>
      <li>
        <p>
          Added
          <WikiLink page="Realm of Oneiric Snow">Realm of Oneiric Snow</WikiLink
          >
          (Cosmetic Auxes).
        </p>
      </li>
      <li>
        <p>
          Added
          <WikiLink page="Cross Brooch">Cross Brooch</WikiLink>
          (DD Auxes).
        </p>
      </li>
      <li>
        <p>
          Added
          <WikiLink page="Ascension Box">Ascension Box</WikiLink>
          (DD Aux, Cruiser Aux, IX Aux).
        </p>
      </li>
      <li>
        <p>Renamed BB Guns & BB Auxes to include BBV.</p>
      </li>
      <li>
        <p>Added Soyuz Gun (BB Guns, Plus13).</p>
      </li>
      <li>
        <p>Added note to not use +AVI auxes on BBVs (BB Auxes).</p>
      </li>
      <li>
        <p>
          Added
          <WikiLink page="Sovetsky Soyuz">Sovetsky Soyuz</WikiLink>
          to Crossfleet.
        </p>
      </li>
      <li>
        <p>Fixed some equipment names to match EN version of the game.</p>
      </li>
    </ul>
  </li>

  <li>
    <h5>Fleetbuilding:</h5>
    <ul>
      <li>
        <p>
          Updated
          <WikiLink page="Pamiat' Merkuria">Pamiat' Merkuria</WikiLink>'s name
          to match EN version.
        </p>
      </li>
      <li>
        <p>
          Moved ships from
          <WikiLink page="Khorovod of Dawn's Rime"
            >Khorovod of Dawn's Rime</WikiLink
          >
          to Permanent.
        </p>
      </li>
      <li>
        <p>
          Added ships from
          <WikiLink page="Snowrealm Peregrination"
            >Snowrealm Peregrination</WikiLink
          >:
        </p>
        <ul>
          <li>
            <p>
              <WikiLink page="Sovetsky Soyuz">Sovetsky Soyuz</WikiLink>
              - Off-Flag BB
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Ognevoy">Ognevoy</WikiLink>
              - Damage Dealer
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Pamiat' Merkuria META"
                >Pamiat' Merkuria META</WikiLink
              >
              - Mob Tank
            </p>
          </li>
        </ul>
      </li>
    </ul>
  </li>

  <li>
    <h5>Newbie Tips:</h5>
    <ul>
      <li>
        <p>Fixed typos regarding Tech Boxes.</p>
      </li>
    </ul>
  </li>

  <li>
    <h5>Samvaluations:</h5>
    <ul>
      <li>
        <p>
          Moved
          <WikiLink page="Kimberly META">Kimberly META</WikiLink>
          to Cruise Pass section.
        </p>
      </li>
      <li>
        <p>
          Fixed description for
          <WikiLink page="Hatakaze META">Hatakaze META</WikiLink>.
        </p>
      </li>
      <li>
        <p>
          Updated
          <WikiLink page="Pamiat' Merkuria">Pamiat' Merkuria</WikiLink>'s name
          to match EN version.
        </p>
      </li>
      <li>
        <p>Added Samvaluations for 2/22 Augment Modules:</p>
        <ul>
          <li>
            <p>
              <WikiLink page="Ping Hai">Ping Hai (Retrofit)</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Ning Hai">Ning Hai (Retrofit)</WikiLink>
            </p>
          </li>
        </ul>
      </li>
      <li>
        <p>
          Added ships from
          <WikiLink page="Snowrealm Peregrination"
            >Snowrealm Peregrination</WikiLink
          >:
        </p>
        <ul>
          <li>
            <p>
              <WikiLink page="Sovetsky Soyuz">Sovetsky Soyuz</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Ognevoy">Ognevoy</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Pamiat' Merkuria META"
                >Pamiat' Merkuria META</WikiLink
              >
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Poltava">Poltava</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Svirepy">Svirepy</WikiLink>
            </p>
          </li>
        </ul>
      </li>
    </ul>
  </li>

  <li>
    <h5>Shop Priority:</h5>
    <ul>
      <li>
        <p>
          Seperated Iris Orthodoxy Gear Development Pack from other Tech Boxes.
        </p>
      </li>
      <li>
        <p>Fixed incorrect hyperlinks for Tech Boxes.</p>
      </li>
    </ul>
  </li>
</ul>
<br />

<!-- Changelog Head -->
<h2 id="2-18-2024">Februrary 18th, 2024</h2>
<HR />
<ul>
  <li>
    <h5>Common Resource:</h5>
    <ul>
      <li>
        <p>
          Changed expected UR Bulin income from every 4 months to every 2 months
          (total/year unchanged).
        </p>
      </li>
      <li>
        <p>Updated Gem amount to include Chapter 15.</p>
      </li>
      <li>
        <p>Updated Core Data amount to include Chapter 13 Hard Mode.</p>
      </li>
      <li>
        <p>Updated Protocore amount to include PR5 Rookie Missions.</p>
      </li>
    </ul>
  </li>

  <li>
    <h5>Contributors:</h5>
    <ul>
      <li>
        <p>Edited Contributor Cell for Samheart564.</p>
      </li>
    </ul>
  </li>

  <li>
    <h5>Equipment & Misc.:</h5>
    <ul>
      <li>
        <p>
          Added gear from
          <WikiLink page="Spring Festive Fiasco">Spring Festive Fiasco</WikiLink
          >:
        </p>
        <ul>
          <li>
            <p>
              <WikiLink page="Huan Ch'ang's Fishing Rod"
                >Huan Ch'ang's Fishing Rod</WikiLink
              >
              - BB Auxes
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="SY-1A Missile">SY-1A Missile</WikiLink>
              - Surface Torpedoes, Plus13
            </p>
          </li>
        </ul>
      </li>
      <li>
        <p>
          Updated description of
          <WikiLink page="SY-1 Missile">SY-1 Missile</WikiLink>
          due to new Missile being added.
        </p>
      </li>
      <li>
        <p>
          Fixed inconsistencies in location names for various Research Gear.
        </p>
      </li>
      <li>
        <p>
          Added PR6 Gear +
          <WikiLink page="Prototype Quadruple 152mm Main Gun Mount"
            >Prototype Quadruple 152mm Main Gun Mount</WikiLink
          >
          to Prototype Shop Guide.
        </p>
      </li>
      <li>
        <p>
          Added
          <WikiLink page="Twin 457mm (Mark A Prototype)"
            >Prototype Twin 457mm Mk A Main Gun Mount</WikiLink
          >
          back to Prototype Shop Guide.
        </p>
      </li>
      <li>
        <p>
          Added
          <WikiLink page="Constellation">Constellation</WikiLink>
          to Hard Mode Rec Help.
        </p>
      </li>
    </ul>
  </li>

  <li>
    <h5>Farming:</h5>
    <ul>
      <li>
        <p>
          Added clarification that Chapter 15 stages are omitted from drop
          tables.
        </p>
      </li>
    </ul>
  </li>

  <li>
    <h5>Fleetbuilding:</h5>
    <ul>
      <li>
        <p>
          Added new ships from
          <WikiLink page="Spring Festive Fiasco">Spring Festive Fiasco</WikiLink
          >:
        </p>
        <ul>
          <li>
            <p>
              <WikiLink page="Huan Ch'ang">Huan Ch'ang</WikiLink>
              - Flagship BB
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Tai Yuan">Tai Yuan (Retrofit)</WikiLink>
              - Damage Dealer
            </p>
          </li>
        </ul>
      </li>
      <li>
        <p>Moved Repulse META and Renown META to Permanent.</p>
      </li>
      <li>
        <p>
          Moved
          <WikiLink page="Happy Lunar New Year 2023"
            >Happy Lunar New Year 2023</WikiLink
          >
          ships to Permanent.
        </p>
      </li>
    </ul>
  </li>

  <li>
    <h5>Newbie Tips:</h5>
    <ul>
      <li>
        <p>Corrected Skill Book section in upgradable resources.</p>
      </li>
    </ul>
  </li>

  <li>
    <h5>Research:</h5>
    <ul>
      <li>
        <p>Added PR4 Coin-up, DR3 Coin-up.</p>
      </li>
      <li>
        <p>Added PR5 Catch-up.</p>
      </li>
      <li>
        <p>Adjusted Protocore Income to account for PR5 Catch-up.</p>
      </li>
      <li>
        <p>Fixed bug where Catch-up Min-Max section wouldn't expand.</p>
      </li>
    </ul>
  </li>

  <li>
    <h5>Samvaluations:</h5>
    <ul>
      <li>
        <p>
          Added ships from
          <WikiLink page="Happy Lunar New Year 2021"
            >Happy Lunar New Year 2021</WikiLink
          >:
        </p>
        <ul>
          <li>
            <p>
              <WikiLink page="Chao Ho">Chao Ho</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Ying Swei">Ying Swei</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Penelope">Penelope</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="U-410">U-410</WikiLink>
            </p>
          </li>
        </ul>
      </li>
      <li>
        <p>
          Added ships from
          <WikiLink page="Happy Lunar New Year 2022"
            >Joint Battle Mystery Investigation (Lunar New Year 2022)</WikiLink
          >:
        </p>
        <ul>
          <li>
            <p>
              <WikiLink page="Bristol">Bristol</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Charybdis">Charybdis</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Hai Chi">Hai Chi</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Hai Tien">Hai Tien</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="An Shan">An Shan (Retrofit)</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Fu Shun">Fu Shun (Retrofit)</WikiLink>
            </p>
          </li>
        </ul>
      </li>
      <li>
        <p>
          Added ships from
          <WikiLink page="Happy Lunar New Year 2024"
            >Spring Festive Fiasco (Lunar New Year 2024)</WikiLink
          >:
        </p>
        <ul>
          <li>
            <p>
              <WikiLink page="Huan Ch'ang">Huan Ch'ang</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Chi An">Chi An</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Fei Yuen">Fei Yuen</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Hu Pen">Hu Pen</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Lung Wu">Lung Wu</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Chen Hai">Chen Hai (Retrofit)</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Tai Yuan">Tai Yuan (Retrofit)</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Kimberly META">Kimberly META</WikiLink>
            </p>
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
<br />

<!-- Changelog Head -->
<h2 id="1-21-2024">January 21st, 2024</h2>
<HR />
<ul>
  <li>
    <h5>Site Updates:</h5>
    <ul>
      <li>
        <p>Table of Contents is now default expanded on Desktop.</p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Equipment & Misc.:</h5>
    <ul>
      <li>
        <p>
          Replaced "PR3 Research" with "Gear Lab" for all relevant gear.
          (Plus13, Prototype Core, BB Guns, CA Guns, DD Guns)
        </p>
      </li>
      <li>
        <p>Added all relevant PR3 gear to Gear Lab Priority.</p>
      </li>
      <li>
        <p>Removed most PR3 gear from Prototype Shop Priority.</p>
      </li>
      <li>
        <p>Added 1/18 Gear Lab Update Gear:</p>
        <ul>
          <li>
            <p>
              <WikiLink page="Fairey Spearfish (Prototype)"
                >Prototype Spearfish</WikiLink
              >
              - Torpedo Bombers
            </p>
          </li>
        </ul>
        <ul>
          <li>
            <p>
              <WikiLink page="Triple 380mm (SKC Prototype)"
                >Prototype Triple 380mm SKC Main Gun</WikiLink
              >
              - BB Guns
            </p>
          </li>
        </ul>
        <ul>
          <li>
            <p>
              <WikiLink page="Kawanishi N1K3-A Shiden Kai 4"
                >Kawanishi N1K3-A Shiden Kai 4</WikiLink
              >
              - Fighters
            </p>
          </li>
        </ul>
        <ul>
          <li>
            <p>
              <WikiLink page="550mm Quadruple Torpedo Mount Improved (Ammo Mod)"
                >550mm Quadruple Torpedo Mount Improved (Ammo Mod)</WikiLink
              >
              + its purple version - Surface Torpedoes
            </p>
          </li>
        </ul>
      </li>
      <li>
        <p>Fixed typos throughout guide.</p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Fleetbuilding:</h5>
    <ul>
      <li>
        <p>Moved Homura down in submarine sections.</p>
      </li>
      <li>
        <p>
          Moved Dreamwaker's Butterfly and Mirror Involution Ships from
          Event-Locked to Permanent.
        </p>
      </li>
      <li>
        <p>Fixed typos in Vanguard Support section.</p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Fleet Technology:</h5>
    <ul>
      <li>
        <p>
          Created guide! For now, it is the same as the section in Research. The
          remaining factions & more detailed information regarding progression
          strategies to achieve these tech point thresholds will be added soon
          tm :(
        </p>
      </li>
      <li>
        <p>
          Added relevant permanent ships from
          <WikiLink page="Inverted Orthant">Inverted Orthant</WikiLink>
          to KMS section.
        </p>
        <ul>
          <li>
            <p>
              <WikiLink page="U-37">U-37</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Z24">Z24</WikiLink>
            </p>
          </li>
        </ul>
      </li>
      <li>
        <p>
          Added relevant permanent ships from 1/18 shop updates to KMS section.
        </p>
        <ul>
          <li>
            <p>
              <WikiLink page="Bismarck">Bismarck</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="U-96">U-96</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="U-73">U-73</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="U-556">U-556</WikiLink>
            </p>
          </li>
        </ul>
      </li>
    </ul>
  </li>
  <li>
    <h5>Newbie Tips</h5>
    <ul>
      <li>
        <p>Added section about upgradable consumables / materials.</p>
      </li>
      <li>
        <p>Added section about Permanent UR ships.</p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Research</h5>
    <ul>
      <li>
        <p>Fixed typos with research project name.</p>
      </li>
      <li>
        <p>Moved Fleet Technology content to Fleet Technology Guide.</p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Samvaluations:</h5>
    <ul>
      <li>
        <p>Added Samvaluations for 1/18 Augment Modules.</p>
        <ul>
          <li>
            <p>
              <WikiLink page="King George V">King George V</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Z18">Z18</WikiLink>
            </p>
          </li>
        </ul>
      </li>
      <li>
        <p>
          Added ships from
          <WikiLink page="Tower of Transcendence"
            >Tower of Transcendence</WikiLink
          >:
        </p>
        <ul>
          <li>
            <p>
              <WikiLink page="Ulrich von Hutten">Ulrich von Hutten</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Magdeburg">Magdeburg</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Prinz Adalbert">Prinz Adalbert</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Elbe">Elbe</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="U-1206">U-1206</WikiLink>
            </p>
          </li>
        </ul>
      </li>
      <li>
        <p>Added PR1 ships:</p>
        <ul>
          <li>
            <p>
              <WikiLink page="Neptune">Neptune</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Monarch">Monarch</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Ibuki">Ibuki</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Izumo">Izumo</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Roon">Roon</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Saint Louis">Saint Louis</WikiLink>
            </p>
          </li>
        </ul>
      </li>
      <li>
        <p>Added PR2/DR2 ships:</p>
        <ul>
          <li>
            <p>
              <WikiLink page="Seattle">Seattle</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Georgia">Georgia</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Kitakaze">Kitakaze</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Azuma">Azuma</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Fredrich der Große">Fredrich der Große</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Gascogne">Gascogne</WikiLink>
            </p>
          </li>
        </ul>
      </li>
      <li>
        <p>Added template for PR3/DR3 ships.</p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Shop Priority:</h5>
    <ul>
      <li>
        <p>Fixed hyperlink for T4 Tech Box.</p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Tools:</h5>
    <ul>
      <li>
        <p>
          Added Mebot's
          <a
            rel="noopener noreferrer"
            target="_blank"
            href="https://docs.google.com/spreadsheets/d/1rb_uXVmDnK2YKe-0YRTrf3VUcQi8mKwEMYKCBFmVXCc/edit#gid=0"
            title="AA Sheet">AA Sheet</a
          >.
        </p>
      </li>
      <li>
        <p>Adjusted formatting of Author names.</p>
      </li>
    </ul>
  </li>
</ul>
<br />

<!-- Changelog Head -->
<h2 id="1-5-2024">January 5th, 2024</h2>
<HR />
<ul>
  <li>
    <h5>Equipment & Misc.:</h5>
    <ul>
      <li>
        <p>Fixed typo with Triple 152mm DP Mk17 description.</p>
      </li>
      <li>
        <p>Added Twin 550mm Torpedo Mount (FFNF) to Torpedoes.</p>
      </li>
      <li>
        <p>Moved +AA auxes lower in IX Auxiliary.</p>
      </li>
      <li>
        <p>Added Guam to best vanguard crossfleet combination in Crossfleet.</p>
      </li>
      <li>
        <p>Revamped BB/BC Guns to account for vertical priority.</p>
      </li>
      <li>
        <p>
          Slightly edited Mark 20 "Bidder" description in Submarine Torpedo,
          Gear Lab.
        </p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Fleetbuilding:</h5>
    <ul>
      <li>
        <p>
          Improved wording around support ships in fleet composition sections.
        </p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Samvaluations:</h5>
    <ul>
      <li>
        <p>Fixed typos relating to some BCs being labeled as BBs.</p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Shop Priority:</h5>
    <ul>
      <li>
        <p>Moved T2 Augment Module Enhance Stone down.</p>
      </li>
    </ul>
  </li>
</ul>
<br />
