---
import { HR } from "@components/_common/HR"
import WikiLink from "@components/_common/WikiLink.astro"
---

<!-- Changelog Head -->
<h2 id="12-27-2023">December 27th, 2023</h2>
<HR />
<ul>
  <li>
    <h5>Common Resource:</h5>
    <ul>
      <li>
        <p>Added "Limited Event Shop" as a source to applicable items.</p>
      </li>
      <li>
        <p>
          Updated UR Bulin amounts to account for 5000 Specialized Core Limit.
        </p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Equipment & Misc.:</h5>
    <ul>
      <li>
        <p>Added Triple 305mm Mk8 to CB Guns, Plus13</p>
      </li>
      <li>
        <p>Added Guam to Crossfleet.</p>
      </li>
      <li>
        <p>Added TBM Avenger (VT-51) to ASW.</p>
      </li>
      <li>
        <p>Added Twin 130mm B-2LM Gun to Core Data shop.</p>
      </li>
      <li>
        <p>Fixed formatting issues in DD Aux, CL Guns.</p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Fleetbuilding:</h5>
    <ul>
      <li>
        <p>
          Moved ships from
          <WikiLink page="Inverted Orthant">Inverted Orthant</WikiLink>
          to Permanent.
        </p>
      </li>
      <li>
        <p>
          Added
          <WikiLink page="Kirov META">Kirov META</WikiLink>.
        </p>
      </li>
      <li>
        <p>
          Added ships from
          <WikiLink page="Light-Chasing Sea of Stars"
            >Light-Chasing Sea of Stars</WikiLink
          >:
        </p>
        <ul>
          <li>
            <p>
              <WikiLink page="Guam">Guam</WikiLink>
              - Boss Tank
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Laffey II">Laffey II</WikiLink>
              - Damage Dealer
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Constellation">Constellation</WikiLink>
              - Off-Flag BB
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Flasher">Flasher</WikiLink>
              - Damage SS
            </p>
          </li>
        </ul>
      </li>
      <li>
        <p>
          Redid Submarine Fleet Composition section to include Submarine Fleet
          Positiongs, ship icons for all Submarines, making it in-line with
          other Fleet Composition sections!
        </p>
      </li>
      <li>
        <p>
          Modified Support (Vanguard) section to include overlaps of good ships
          that have supportive capabilities.
        </p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Research:</h5>
    <ul>
      <li>
        <p>
          Added Divergent Chessboard to
          <WikiLink page="Admiral Hipper">Admiral Hipper</WikiLink>
          location.
        </p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Samvaluations:</h5>
    <ul>
      <li>
        <p>
          Added ships from
          <WikiLink page="Light-Chasing Sea of Stars"
            >Light-Chasing Sea of Stars</WikiLink
          >:
        </p>
        <ul>
          <li>
            <p>
              <WikiLink page="Guam">Guam</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Laffey II">Laffey II</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Constellation">Constellation</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Flasher">Flasher</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Louisville">Louisville</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="San Jacinto">San Jacinto</WikiLink>
            </p>
          </li>
        </ul>
      </li>
      <li>
        <p>
          Added
          <WikiLink page="Kirov META">Kirov META</WikiLink>.
        </p>
      </li>
      <li>
        <p>Added 12/14 Augment Modules:</p>
        <ul>
          <li>
            <p>
              <WikiLink page="Zara">Zara</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Shangri-La">Shangri-La</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Z1">Z1</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Fortune">Fortune (Retrofit)</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Königsberg">Königsberg</WikiLink>
            </p>
          </li>
        </ul>
      </li>
      <li>
        <p>Fixed typo in Chkalov description.</p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Shop Priority:</h5>
    <ul>
      <li>
        <p>Removed Core Data Priority, redirected to Equipment & Misc.</p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Tools:</h5>
    <ul>
      <li>
        <p>
          Clearly separated links in table cells which contained multiple links.
        </p>
      </li>
      <li>
        <p>
          Added Thorin's
          <a
            href="https://azurlane.koumakan.jp/wiki/User:Ymiros/Hexagons"
            target="_blank"
            rel="noopener noreferrer">Stat Hexagon Tabluations</a
          >.
        </p>
      </li>
    </ul>
  </li>
</ul>
<br />

<!-- Changelog Head -->
<h2 id="11-24-2023">November 24th, 2023</h2>
<HR />
<ul>
  <li>
    <h5>Site Updates:</h5>
    <ul>
      <li>
        <p>Made all guide cover images the same size on mobile.</p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Early Ship Recommendations:</h5>
    <ul>
      <li>
        <p>Fixed typos.</p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Equipment & Misc.:</h5>
    <ul>
      <li>
        <p>Made link buttons to outside sources more visually appealing.</p>
      </li>
      <li>
        <p>
          <i>
            For the old Equipment & Misc. Changelog (2023), click
            <a
              href="https://docs.google.com/document/d/1rCAE3qqTF1iCnVaMj5PLpwk2urz4grkuLQKWRChBAGE/edit"
              rel="noopener noreferrer"
              target="_blank">here</a
            >.
          </i>
        </p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Fleetbuilding:</h5>
    <ul>
      <li>
        <p>
          Added ships from
          <WikiLink page="The Ninja Scrolls: Azur Flash"
            >The Ninja Scrolls: Azur Flash</WikiLink
          >:
        </p>
        <ul>
          <li>
            <p>
              <WikiLink page="Asuka">Asuka</WikiLink>
              - Damage Dealer
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Ikaruga">Ikaruga</WikiLink>
              - Boss Tank
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Homura">Homura</WikiLink>
              - Damage SS
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Yumi">Yumi</WikiLink>
              - Damage CV
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Fubuki (Senran Kagura)">Fubuki (SK)</WikiLink>
              - Off-Flag BB
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Murasaki">Murasaki</WikiLink>
              - Damage CV (Fast Load)
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Yuuyaki">Yūyaki</WikiLink>
              - Damage Dealer
            </p>
          </li>
        </ul>
      </li>
      <li>
        <p>Added buffed ships due to Augment Modules:</p>
        <ul>
          <li>
            <p>
              <WikiLink page="Takao">Takao</WikiLink>
              - Mob Tank
            </p>
          </li>
        </ul>
      </li>
    </ul>
  </li>
  <li>
    <h5>Research:</h5>
    <ul>
      <li>
        <p>
          Added a note in Protocore to check if you already have items before
          purchasing them.
        </p>
      </li>
      <li>
        <p>Added note in Protocore about 20 gold print limit per month.</p>
      </li>
      <li>
        <p>
          Added
          <WikiLink page="Z35">Z35</WikiLink>
          and
          <WikiLink page="Z25">Z25</WikiLink>
          to KMS Tech Point section.
        </p>
      </li>
      <li>
        <p>
          Fixed typo with
          <WikiLink page="Champagne">Champagne</WikiLink>
          (she is PR3 not PR1)
        </p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Samvaluations:</h5>
    <ul>
      <li>
        <p>Fixed typos regarding misnamed ships in some descriptions.</p>
      </li>
      <li>
        <p>
          Added ships from
          <WikiLink page="The Ninja Scrolls: Azur Flash"
            >The Ninja Scrolls: Azur Flash</WikiLink
          >:
        </p>
        <ul>
          <li>
            <p>
              <WikiLink page="Asuka">Asuka</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Ikaruga">Ikaruga</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Homura">Homura</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Yumi">Yumi</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Fubuki (Senran Kagura)">Fubuki (SK)</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Murasaki">Murasaki</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Yuuyaki">Yūyaki</WikiLink>
            </p>
          </li>
        </ul>
      </li>
      <li>
        <p>
          Added ships from
          <WikiLink page="Upon the Shimmering Blue"
            >Upon the Shimmering Blue</WikiLink
          >:
        </p>
        <ul>
          <li>
            <p>
              <WikiLink page="Shimakaze">Shimakaze</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Chikuma">Chikuma</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Katsuragi">Katsuragi</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Umikaze">Umikaze</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Yamakaze">Yamakaze</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Yura">Yura</WikiLink>
            </p>
          </li>
        </ul>
      </li>
      <li>
        <p>Added 11/16 Augment Modules:</p>
        <ul>
          <li>
            <p>
              <WikiLink page="Takao">Takao</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="McCall">McCall</WikiLink>
            </p>
          </li>
        </ul>
      </li>
      <li>
        <p>
          Added
          <WikiLink page="Erebus META">Erebus META</WikiLink>.
        </p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Tools:</h5>
    <ul>
      <li>
        <p>
          Added Nagamii's
          <a
            href="https://nagami.moe/#/al-nodes"
            target="_blank"
            rel="noopener noreferrer">Enemy Node Database</a
          >, and updated their other links.
        </p>
      </li>
      <li>
        <p>
          Added that1nerd's
          <a
            href="https://that1guywhosucks.github.io/"
            target="_blank"
            rel="noopener noreferrer">Azur Lane Simulator</a
          >.
        </p>
      </li>
    </ul>
  </li>
</ul>
<br />

<!-- Changelog Head -->
<h2 id="10-30-2023">October 30th, 2023</h2>
<HR />
<ul>
  <li>
    <h5>Site Updates:</h5>
    <ul>
      <li>
        <p>Slightly readjusted Table of Contents button's position.</p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Research:</h5>
    <ul>
      <li>
        <p>
          Moved Cheshire to highest priority in PR3, as AA content is more
          relevant than ever.
        </p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Fleetbuilding:</h5>
    <ul>
      <li>
        <p>
          Moved
          <WikiLink page="Yuudachi">Yuudachi (Retrofit)</WikiLink>
          to Permanently Available.
        </p>
      </li>
      <li>
        <p>
          Added
          <WikiLink page="Houston II">Houston II</WikiLink>
          - Damage Dealer.
        </p>
      </li>
      <li>
        <p>
          Added ships from
          <WikiLink page="Tempesta and the Fountain of Youth"
            >Tempesta and the Fountain of Youth</WikiLink
          >:
        </p>
        <ul>
          <li>
            <p>
              <WikiLink page="São Martinho">São Martinho</WikiLink>
              - Off-Flag BB
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Golden Hind">Golden Hind</WikiLink>
              - Damage Dealer
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Mary Celeste">Mary Celeste</WikiLink>
              - Submarine
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Adventure Galley">Adventure Galley</WikiLink>
              - Damage Dealer
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Whydah">Whydah</WikiLink>
              - Submarine
            </p>
          </li>
        </ul>
      </li>
      <li>
        <p>Added Tempesta Submarine Fleet option (for fun).</p>
      </li>
      <li>
        <p>Slightly reworded OpSi Theory section.</p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Samvaluations:</h5>
    <ul>
      <li>
        <p>
          Added
          <WikiLink page="Houston II">Houston II</WikiLink>.
        </p>
      </li>
      <li>
        <p>
          Added Augment Modules for
          <WikiLink page="Victorious">Victorious</WikiLink>
          and
          <WikiLink page="Fusou">Fusou</WikiLink>.
        </p>
      </li>
      <li>
        <p>
          Added ships from
          <WikiLink page="Tempesta and the Fountain of Youth"
            >Tempesta and the Fountain of Youth</WikiLink
          >:
        </p>
        <ul>
          <li>
            <p>
              <WikiLink page="São Martinho">São Martinho</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Golden Hind">Golden Hind</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Mary Celeste">Mary Celeste</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Adventure Galley">Adventure Galley</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Whydah">Whydah</WikiLink>
            </p>
          </li>
        </ul>
      </li>
      <li>
        <p>
          Added
          <WikiLink page="Foch">Foch</WikiLink>
          to Skybound Oratorio section.
        </p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Shop Priority:</h5>
    <ul>
      <li>
        <p>Fixed icons that were not loading properly.</p>
      </li>
    </ul>
  </li>
</ul>
<br />

<!-- Changelog Head -->
<h2 id="10-15-2023">October 15th, 2023</h2>
<HR />
<ul>
  <li>
    <h5>Early Ship Recommendations:</h5>
    <ul>
      <li>
        <p>Added redirects to Shop Priority Guide.</p>
      </li>
      <li>
        <p>Removed Isuzu due to her not being relevant anymore.</p>
      </li>
      <li>
        <p>Removed Yuudachi due to high cost.</p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Farming:</h5>
    <ul>
      <li>
        <p>Removed gear farming section.</p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Newbie Tips:</h5>
    <ul>
      <li>
        <p>
          Changed Guild Shop Table to be similar to Early Ship Recommendations
          (removed Chang Chun).
        </p>
      </li>
      <li>
        <p>Changed page title to match guide name.</p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Shop Priority:</h5>
    <ul>
      <li>
        <p>Added OpSi Exchange (Voucher) Shop Priority.</p>
      </li>
      <li>
        <p>Added Chang Chun to Guild Shop (niche priority).</p>
      </li>
      <li>
        <p>Adjusted Guild Shop priority.</p>
      </li>
      <li>
        <p>Adjusted Medal Shop priority.</p>
      </li>
    </ul>
  </li>
</ul>
<br />

<!-- Changelog Head -->
<h2 id="10-01-2023">October 1st, 2023</h2>
<HR />
<ul>
  <li>
    <h5>Site Updates:</h5>
    <ul>
      <li>
        <p>Added authors to the individual guide pages.</p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Early Ship Recommendations:</h5>
    <ul>
      <li>
        <p>Fixed incorrect locations for some ships.</p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Farming:</h5>
    <ul>
      <li>
        <p>Moved Event Shop Priority to Shop Priority Guide.</p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Newbie Tips:</h5>
    <ul>
      <li>
        <p>Fixed links.</p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Research:</h5>
    <ul>
      <li>
        <p>Adjusted Shipyard Priority.</p>
      </li>
      <li>
        <p>Made PR Catchup Min-max more optional.</p>
      </li>
      <li>
        <p>Added Shipyard ships to Tech Point tables.</p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Samvaluations:</h5>
    <ul>
      <li>
        <p>
          Added evaluation for
          <WikiLink page="Princeton META">Princeton META</WikiLink>.
        </p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Shop Priority:</h5>
    <ul>
      <li>
        <p>Added all permanent and event shops.</p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Tools:</h5>
    <ul>
      <li>
        <p>Added Nagamiii's Story Player and Equipment Database.</p>
      </li>
      <li>
        <p>Fixed links.</p>
      </li>
    </ul>
  </li>
</ul>
<br />

<!-- Changelog Head -->
<h2 id="9-15-2023">September 15th, 2023</h2>
<HR />
<ul>
  <li>
    <h5>Site Updates:</h5>
    <ul>
      <li>
        <p>Incorperated Riceist's Newbie Tips into site.</p>
      </li>
      <li>
        <p>Adjusted Navbar to accomodate site changes.</p>
      </li>
      <li>
        <p>
          Added base template for Shop Priority, actual guide coming in future
          update.
        </p>
      </li>
      <li>
        <p>Renamed Equipment & Shops to Equipment & Misc.</p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Early Ship Recommendations:</h5>
    <ul>
      <li>
        <p>Fixed broken links.</p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Equipment & Misc.:</h5>
    <ul>
      <li>
        <p>Added link to changelog.</p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Farming:</h5>
    <ul>
      <li>
        <p>Fixed incorrect images in tables.</p>
      </li>
      <li>
        <p>Made Event Shop Priority table cleaner.</p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Fleetbuilding:</h5>
    <ul>
      <li>
        <p>
          Moved
          <WikiLink page="Aurora Noctis">Aurora Noctis</WikiLink>
          ships to Permanently Available.
        </p>
      </li>
      <li>
        <p>
          Added Ships from
          <WikiLink page="Effulgence Before Eclipse"
            >Effulgence Before Eclipse</WikiLink
          >.
        </p>
        <ul>
          <li>
            <p>
              <WikiLink page="Unzen">Unzen</WikiLink>
              - Damage Dealer
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Owari">Owari</WikiLink>
              - Off-Flag BB
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Hatsuzuki">Hatsuzuki</WikiLink>
              - Damage Dealer
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Natori">Natori</WikiLink>
              - Damage Dealer
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Nachi">Nachi (Retrofit)</WikiLink>
              - Boss Main Tank
            </p>
          </li>
        </ul>
      </li>
    </ul>
  </li>
  <li>
    <h5>Samvaluations:</h5>
    <ul>
      <li>
        <p>
          Added ships from
          <WikiLink page="Effulgence Before Eclipse"
            >Effulgence Before Eclipse</WikiLink
          >
        </p>
      </li>
      <li>
        <p>Fixed table of contents.</p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Tools:</h5>
    <ul>
      <li>
        <p>Renamed first category to "Cheat Sheets".</p>
      </li>
      <li>
        <p>Moved Riceist's Newbie Tips.</p>
      </li>
      <li>
        <p>Fixed broken links.</p>
      </li>
    </ul>
  </li>
</ul>
<br />

<!-- Changelog Head -->
<h2 id="9-11-2023">September 11th, 2023</h2>
<HR />
<ul>
  <li>
    <h5>Research:</h5>
    <ul>
      <li>
        <p>Added Sort functionality to Tech Point tables.</p>
      </li>
    </ul>
  </li>
</ul>
<br />

<!-- Changelog Head -->
<h2 id="9-10-2023">September 10th, 2023</h2>
<HR />
<ul>
  <li>
    <h5>Site Updates:</h5>
    <ul>
      <li>
        <p>Changed Logo for Changelog in Navbar.</p>
      </li>
      <li>
        <p>Added Tools Page to link to external helpful resources.</p>
      </li>
      <li>
        <p>Adjusted Navbar to accomodate site changes.</p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Research:</h5>
    <ul>
      <li>
        <p>Added Tech Point locations for Minor factions:</p>
        <ul>
          <li>
            <p>
              <WikiLink page="Dragon Empery">Dragon Empery</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Sardegna Empire">Sardegna Empire</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Vichya Dominion">Vichya Dominion</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Iris Libre">Iris Libre</WikiLink>
            </p>
          </li>
        </ul>
      </li>
      <li>
        <p>Reformatted KMS Tech Point locations to match newly added ones.</p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Tools:</h5>
    <ul>
      <li>
        <p>Added References for:</p>
        <ul>
          <li>
            <p>
              <a
                href="https://slaimuda.github.io/ectl/#/home"
                target="_blank"
                rel="noopener noreferrer"
                >Azur Lane English Community Tier List (ECTL)</a
              >
            </p>
          </li>
          <li>
            <p>
              <a
                href="https://al-data.github.io/nodes"
                target="_blank"
                rel="noopener noreferrer"
                >Samu#1741's Node Database (last updated Nov 2021)</a
              >
            </p>
          </li>
          <li>
            <p>
              <a
                href="https://retropaint.github.io/azur-lane-fleet-tech-tracker/"
                target="_blank"
                rel="noopener noreferrer">Retropaint's Fleet Tech Tracker</a
              >
            </p>
          </li>
          <li>
            <p>
              <a
                href="https://github.com/AzurLaneTools/AzurLaneData"
                target="_blank"
                rel="noopener noreferrer">Azur Lane Data GitHub</a
              >
            </p>
          </li>
          <li>
            <p>
              <a
                href="https://renhex.github.io/AzurLaneFleet/"
                target="_blank"
                rel="noopener noreferrer">Renhex's Fleetmaker</a
              >
            </p>
          </li>
          <li>
            <p>
              <a
                href="https://azurlane.koumakan.jp/wiki/User:Riceist"
                target="_blank"
                rel="noopener noreferrer"
                >Riceist's Barrage Datamine, Submarine Reload Chart, Bomb
                Spread, New Player Tips</a
              >
            </p>
          </li>
          <li>
            <p>
              <a
                href="https://docs.google.com/spreadsheets/d/1HF6_hLEB8m_v0stp4DLGnIoDjgojvo7fjYz-cysjTMc"
                target="_blank"
                rel="noopener noreferrer">Mebot's EHP Chart</a
              >
            </p>
          </li>
          <li>
            <p>
              <a
                href="https://docs.google.com/spreadsheets/d/1WvzXeBYifdeHTY-Z_wsUKrIc3SgE3saPMV-r5yCBPZg"
                target="_blank"
                rel="noopener noreferrer"
                >Nerezza's Equipment Nickname Guide (last updated May 2022)</a
              >
            </p>
          </li>
          <li>
            <p>
              <a
                href="https://docs.google.com/spreadsheets/d/1jiPmkmyIXf3XKFwTxiLuaybWJB-wViHO7YUXcKY4yyo"
                target="_blank"
                rel="noopener noreferrer"
                >Nerezza's Ship Nickname Guide (last updated Jan 2022)</a
              >
            </p>
          </li>
          <li>
            <p>
              <a
                href="https://azurlane.koumakan.jp/wiki/User:ArdWar/DefaultEquips"
                target="_blank"
                rel="noopener noreferrer">Ardwar's default equipment list</a
              >
            </p>
          </li>
          <li>
            <p>
              <a
                href="https://azurlane.koumakan.jp/wiki/User:Nagami"
                target="_blank"
                rel="noopener noreferrer">Nagamiii's Boss Stats</a
              >
            </p>
          </li>
          <li>
            <p>
              <a
                href="https://traneptora.com/azur-lane/"
                target="_blank"
                rel="noopener noreferrer">Traneptora's Cooldown Calculators</a
              >
            </p>
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
<br />

<!-- Changelog Head -->
<h2 id="9-7-2023">September 7th, 2023</h2>
<HR />
<ul>
  <li>
    <h5>Site Updates:</h5>
    <ul>
      <li>
        <p>
          Added Samvaluation page (ported over from
          <a
            href="https://azurlane.koumakan.jp/wiki/User:Samheart564/Samvaluation"
            target="_self"
            rel="noopener noreferrer">here</a
          >).
        </p>
      </li>
      <li>
        <p>
          Added Equipment & Shops landing page instead of immediately
          redirecting to Imgur.
        </p>
      </li>
      <li>
        <p>Adjusted Navbar to accomodate new pages.</p>
      </li>
      <li>
        <p>Fixed minor bugs related to line-spacing.</p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Equipment & Shops Guide:</h5>
    <ul>
      <li>
        <p>
          Embeded the Google Sheet into the landing page (is scuffed, but
          alternate links are available).
        </p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Fleetbuilding:</h5>
    <ul>
      <li>
        <p>Added Ships and Augments from the 8/31 and 9/7 updates.</p>
        <ul>
          <li>
            <p>
              <WikiLink page="Jintsuu META">Jintsuu META</WikiLink>
              - Damage Dealer
            </p>
          </li>
        </ul>
      </li>
      <li>
        <p>
          Added
          <WikiLink page="Maya">Maya</WikiLink>
          - AA Support
        </p>
      </li>
      <li>
        <p>Changed Icon Name for Reisalin Stout (Ryza).</p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Samvaluations:</h5>
    <ul>
      <li>
        <p>
          Organized Evaluations by Events in chronological order by event's
          first run.
        </p>
      </li>
      <li>
        <p>Seperated META & Shipyard ships from Event ships.</p>
      </li>
      <li>
        <p>Added the following META ships.</p>
        <ul>
          <li>
            <p>
              <b>META Showdown:</b>
              <WikiLink page="Hiryuu META">Hiryuu META</WikiLink>,
              <WikiLink page="Ark Royal META">Ark Royal META</WikiLink>,
              <WikiLink page="Helena META">Helena META</WikiLink>,
              <WikiLink page="Souryuu META">Souryuu META</WikiLink>,
              <WikiLink page="Gneisenau META">Gneisenau META</WikiLink>,
              <WikiLink page="Scharnhorst META">Scharnhorst META</WikiLink>,
              <WikiLink page="Jintsuu META">Jintsuu META</WikiLink>.
            </p>
          </li>
          <li>
            <p>
              <b>Cruise Pass:</b>
              <WikiLink page="Fusou META">Fusou META</WikiLink>,
              <WikiLink page="Hiyou META">Hiyou META</WikiLink>,
              <WikiLink page="Junyou META">Junyou META</WikiLink>,
              <WikiLink page="Yamashiro META">Yamashiro META</WikiLink>,
              <WikiLink page="Hunter META">Hunter META</WikiLink>,
              <WikiLink page="Hatakaze META">Hatakaze META</WikiLink>.
            </p>
          </li>
        </ul>
      </li>

      <li>
        <p>Added evaluations for the following Major Events:</p>
        <ul>
          <li>
            <p>
              <WikiLink page="Empyreal Tragicomedy"
                >Empyreal Tragicomedy</WikiLink
              >
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Passionate Polaris">Passionate Polaris</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Swirling Cherry Blossoms"
                >Swirling Cherry Blossoms</WikiLink
              >
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Northern Overture">Northern Overture</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Microlayer Medley">Microlayer Medley</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Skybound Oratorio">Skybound Oratorio</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Aurora Noctis">Aurora Noctis</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Universe in Unison">Universe in Unison</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Inverted Orthant">Inverted Orthant</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Khorovod of Dawn's Rime"
                >Khorovod of Dawn's Rime</WikiLink
              >
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Daedalian Hymn">Daedalian Hymn</WikiLink>
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Mirror Involution">Mirror Involution</WikiLink>
            </p>
          </li>
        </ul>
      </li>

      <li>
        <p>Added evaluations for the following Collaboration Events:</p>
        <ul>
          <li>
            <p>
              <WikiLink page="Azur Anthem">Azur Anthem</WikiLink>
              (The iDOLM@STER)
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="World-Spanning Arclight"
                >World-Spanning Arclight</WikiLink
              >
              (SSSS Gridman Universe)
            </p>
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
<br />

<!-- Changelog Head -->
<h2 id="9-1-2023">September 1st, 2023</h2>
<HR />
<ul>
  <li>
    <h5>Early Ship Recommendations:</h5>
    <ul>
      <li>
        <p>Added section about starter DDs; removed Phoenix.</p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Research:</h5>
    <ul>
      <li>
        <p>Fixed Z23 location; added War Archive locations to Z1.</p>
      </li>
    </ul>
  </li>
</ul>
<br />

<!-- Changelog Head -->
<h2 id="8-29-2023">August 29th, 2023</h2>
<HR />
<ul>
  <li>
    <h5>Site Updates:</h5>
    <ul>
      <li>
        <p>Overhauled Site UI.</p>
      </li>
      <li>
        <p>Reset Revision versions for all guides. New UI, fresh start!</p>
      </li>
      <li>
        <p>Added Contributors page.</p>
      </li>
      <li>
        <p>Added Changelog page.</p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Fleetbuilding:</h5>
    <ul>
      <li>
        <p>Reformatted Vanguard Support section.</p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Research:</h5>
    <ul>
      <li>
        <p>Reformatted Shipyard section.</p>
      </li>
    </ul>
  </li>
</ul>
<br />

<!-- Changelog Head -->
<h2 id="8-20-2023">August 20th, 2023</h2>
<HR />
<ul>
  <li>
    <h5>Fleetbuilding:</h5>
    <ul>
      <li>
        <p>
          Added ships from
          <WikiLink page="The Fool's Scales">The Fool's Scales</WikiLink>
          event.
        </p>
        <ul>
          <li>
            <p>
              <WikiLink page="Clemenceau">Clemenceau</WikiLink>
              - Off-Flag BB
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Guichen">Guichen</WikiLink>
              - Mob Tank
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Painlevé">Painlevé</WikiLink>
              - Healer
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="West Virginia">West Virginia (Retrofit)</WikiLink>
              - Flagship BB
            </p>
          </li>
        </ul>
      </li>
    </ul>
  </li>
  <li>
    <h5>Samvaluations:</h5>
    <ul>
      <li>
        <p>
          Added ships from
          <WikiLink page="The Fool's Scales">The Fool's Scales</WikiLink>
          event, and
          <WikiLink page="Marseillaise">Marseillaise</WikiLink>.
        </p>
      </li>
    </ul>
  </li>
</ul>
<br />

<!-- Changelog Head -->
<h2 id="8-16-2023">August 16th, 2023</h2>
<HR />
<ul>
  <li>
    <h5>Fleetbuilding:</h5>
    <ul>
      <li>
        <p>
          Added
          <WikiLink page="Marseillaise">Marseillaise</WikiLink>
          - Mob Tank.
        </p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Samvaluations:</h5>
    <ul>
      <li>
        <p>
          Added Augment Modules for
          <WikiLink page="Surcouf">Surcouf</WikiLink>
          and
          <WikiLink page="Algérie">Algérie</WikiLink>
        </p>
      </li>
    </ul>
  </li>
</ul>
<br />

<!-- Changelog Head -->
<h2 id="7-30-2023">July 30th, 2023</h2>
<HR />
<ul>
  <li>
    <h5>Common Resource:</h5>
    <ul>
      <li>
        <p>Fixed Gem rewards from Memento.</p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Research:</h5>
    <ul>
      <li>
        <p>Rewrote Protocore section.</p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Samvaluations:</h5>
    <ul>
      <li>
        <p>Added PR6 ships.</p>
      </li>
    </ul>
  </li>
</ul>
<br />

<!-- Changelog Head -->
<h2 id="7-24-2023">July 24th, 2023</h2>
<HR />
<ul>
  <li>
    <h5>Research:</h5>
    <ul>
      <li>
        <p>Updated Shipyard Image and its caption.</p>
      </li>
    </ul>
  </li>
</ul>
<br />

<!-- Changelog Head -->
<h2 id="7-19-2023">July 19th, 2023</h2>
<HR />
<ul>
  <li>
    <h5>Research:</h5>
    <ul>
      <li>
        <p>Added PR6 ships to Shipyard section.</p>
      </li>
      <li>
        <p>Added PR5 ships to Shipyard section.</p>
      </li>
    </ul>
  </li>
  <li>
    <h5>Fleetbuilding:</h5>
    <ul>
      <li>
        <p>Added PR6 ships:</p>
        <ul>
          <li>
            <p>
              <WikiLink page="Felix Schultz">Felix Schultz</WikiLink>
              - Mob Tank
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Flandre">Flandre</WikiLink>
              - Off-Flag BB
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Hindenburg">Hindenburg</WikiLink>
              - Damage Dealer
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Kearsarge">Kearsarge</WikiLink>
              - OFf-Flag BB
            </p>
          </li>
          <li>
            <p>
              <WikiLink page="Shimanto">Shimanto</WikiLink>
              - Damage Dealer
            </p>
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
<br />
