---
import HomePageLayout from "@layouts/homepage/HomePageLayout.astro"

import { HR } from "@components/_common/HR"
import GuideDescriptions from "@components/Homepage/GuideDescriptions.astro"
import HomepageButtons from "@components/Homepage/HomepageButtons.astro"
import HomePageHeading from "@components/Homepage/HomePageHeading.astro"
---

<style>
  .home-page-pattern {
    overflow-clip-margin: content-box;
    overflow: clip;
    pointer-events: none;
    position: absolute;
    opacity: 0.02;
    right: -400px;
  }
</style>

<HomePageLayout
  title="Azur Lane English Community Guide Compendium"
  metaDescription="Contains guides about the mobile game Azur Lane! Developed by samheart564."
>
  <!-- Content -->
  <div class="index-page min-h-[100vh]">
    <HomePageHeading />

    <div class="relative overflow-hidden p-[0px] pt-[70px]">
      <img
        loading="lazy"
        alt="..."
        class="home-page-pattern"
        src="test_ecgc/images/misc/pattern1.png"
      />

      <!-- Main Content -->
      <div class="container mx-auto">
        <HomepageButtons />

        <br />

        <h2 class="text-3xl">Introduction</h2>
        <HR />
        <p>
          Welcome to the EN Community Guide Compendium for Azur Lane, developed
          by <b>@samheart564</b>, with resources made by various authors!
        </p>
        <br />

        <h2 class="text-3xl">Guides</h2>
        <HR />

        <GuideDescriptions />
        <br />
      </div>
    </div>
  </div>
</HomePageLayout>
