---
import { HR } from "@components/_common/HR"

import { ToolTableFilters } from "./ToolTableFilters"
---

<h2 id="introduction">Introduction</h2>
<HR />
<p>
  Helpful Tools to enhance your Azur Lane Experience! <i
    >Most of these tools are unaffilated with ECGC. To contact their respective
    authors, go to their websites.</i
  >
</p>
<br />

<ToolTableFilters client:visible={{ rootMargin: "50px" }} />
<br />
