---
import { HR } from "@components/_common/HR"
import WikiLink from "@components/_common/WikiLink.astro"

import { CommonResourceModalFilter } from "./CommonResourceModalFilter"
---

<h2 id="introduction">Introduction</h2>
<HR />
<p>
  Comprehensive list of common resources, how to acquire them, and how much of
  each resource you can acquire in a reasonable time frame of playing Azur Lane!
</p>
<br />

<h2 id="renewable">Resource Data</h2>
<HR />
<ul>
  <li>
    <p style="font-size: larger">
      <b>Click on a cell for more information!</b>
    </p>
  </li>
  <li>
    <p style="font-size: larger">
      <b>Tables are scrollable horizontally!</b>
    </p>
  </li>
</ul>

<CommonResourceModalFilter client:visible={{ rootMargin: "20px" }} />
<br />

<h2 id="notes">Notes</h2>
<HR />

<h3 id="glossary">Glossary</h3>
<ul>
  <li>
    <p>
      <b class="text-[palegreen]">Green:</b> &#x2713; - Guaranteed drop from this
      source. / &#x2055; - Optimal farming location(s).
    </p>
  </li>
  <li>
    <p>
      <b class="text-[lemonchiffon]">Sand:</b> &#x2713; - Source spawining or item
      dropping is random. / X - One-Time drop only.
    </p>
  </li>
  <li>
    <p>
      <b class="text-[lightcoral]">Red:</b> &#x2713; - Not recommended to farm this
      resource from this source. / X - Cannot drop from this source.
    </p>
  </li>
  <li>
    <p>
      <b>The highest color will be signified, when applicable.</b>
    </p>
  </li>
</ul>
<br />

<h3 id="prerequisites">Prerequisites</h3>
<ul>
  <li>
    <p>
      This guide assumes you have
      <WikiLink page="Living Area#Canteen and Merchant">Merchant</WikiLink>,
      <WikiLink page="Living Area#Canteen and Merchant">Oil Canteen</WikiLink>,
      <WikiLink page="Living Area#Lecture Hall">Lecture Hall</WikiLink>, and all
      <WikiLink page="Daily Raid">Daily Raids</WikiLink>
      to their maximum level.
    </p>
  </li>
  <li>
    <p>
      Quantities are only listed if the resource is in high-demand, guaranteed,
      and/or as I deem fit.
    </p>
    <ul>
      <li>
        <p>
          Quantities assume a player has not spent money and/or gems on these
          resources.
        </p>
      </li>
      <li>
        <p>
          Only <b>guaranteed</b> drops are considered. You can get a lot more of
          these resources than listed depending on your RNG in commissions, shop
          rotations, map drops, etc.
        </p>
      </li>
      <li>
        <p>
          Weeks are assumed to be 7 Days, Months are assumed to be 30 Days, and
          Months are assumed to be 4 Weeks long. This means quantities listed
          will be slightly underestimated due to how the calendar works.
        </p>
      </li>
      <li>
        <p>
          <b>Monthly</b> and <b>Bimonthly</b> are calculated seperately from each
          other. Bimonthly quantities aren't used in Monthly calculations. Daily
          and Weekly quantities are based on Monthly.
        </p>
      </li>
    </ul>
  </li>
</ul>
<br />

<h2 id="terminology">Terminology</h2>
<HR />

<h3 id="daily">Daily</h3>
<ul>
  <li>
    <p>
      <b>Academy:</b> Includes anything related to
      <WikiLink page="Living Area#Canteen and Merchant">Merchant</WikiLink>,
      <WikiLink page="Living Area#Canteen and Merchant">Oil Canteen</WikiLink>,
      <WikiLink page="Living Area#Lecture Hall">Lecture Hall</WikiLink>,
      <WikiLink page="Commissions">Commissions</WikiLink>,
      <WikiLink page="Guild">Guilds</WikiLink>.
    </p>
  </li>
  <li>
    <p>
      <b>Missions:</b> Includes <WikiLink page="Missions#Login Rewards"
        >Login Rewards</WikiLink
      >,
      <WikiLink page="Missions#Daily Missions">Daily Missions</WikiLink>,
      <WikiLink page="Missions#Weekly Missions">Weekly Missions</WikiLink>,
      <WikiLink page="Beginner Rewards">Beginner Rewards</WikiLink>, <WikiLink
        page="Commander Handbook">Commander Handbook</WikiLink
      >,
      <WikiLink page="Missions#One-Time Missions">One-Time Missions</WikiLink>
      (not including Secretary Quests).
    </p>
  </li>
  <li>
    <p>
      <b>Daily Raid:</b> Includes all stages listed
      <WikiLink page="Daily Raid">here</WikiLink>.
    </p>
  </li>
  <li>
    <p>
      <b>Cruise Pass:</b> Includes anything to do with the FREE
      <WikiLink page="Cruise Missions">Cruise Missions</WikiLink>.
    </p>
  </li>
</ul>
<br />

<h3 id="farming">Farming</h3>
<ul>
  <li>
    <p>
      <b>Campaign:</b> Reward upon clearing a <WikiLink page="Category:Campaign"
        >Campaign</WikiLink
      > stage (including Clearing Rewards).
    </p>
  </li>
  <li>
    <p>
      <b>Hard Mode:</b> Reward upon clearing a <WikiLink page="Combat#Hard Mode"
        >Hard Mode</WikiLink
      > stage.
    </p>
  </li>
  <li>
    <p>
      <b>Event:</b> Reward upon clearing a <WikiLink page="Events"
        >Limited Event</WikiLink
      > or <WikiLink page="War Archives">War Archive</WikiLink> stage (including
      Clearing Rewards).
    </p>
    <ul>
      <li>
        <p>
          Event Point Milestone Rewards (for Major Events) are also included.
        </p>
      </li>
    </ul>
  </li>
  <li>
    <p>
      <b>OPSI:</b> Reward from
      <WikiLink page="Operation Siren">Operation Siren</WikiLink>.
    </p>
  </li>
</ul>
<br />

<h3 id="shops">Shops</h3>
<ul>
  <li>
    <p>This category does NOT include any Gem Spending.</p>
  </li>
  <li>
    <p>
      <b>General Shop:</b> Includes rewards from the
      <WikiLink page="General Shop">Munitions Shops</WikiLink>.
    </p>
  </li>
  <li>
    <p>
      <b>Core Data Shop:</b> Includes rewards from the
      <WikiLink page="Core Data">Core Data Shop</WikiLink>.
    </p>
  </li>
  <li>
    <p>
      <b>Guild Shop:</b> Includes rewards from the
      <WikiLink page="Guild Shop">Guild Shop</WikiLink>.
    </p>
  </li>
  <li>
    <p>
      <b>Merit Shop:</b> Includes rewards from the
      <WikiLink page="Merit Shop">Merit Shop</WikiLink>.
    </p>
  </li>
  <li>
    <p>
      <b>Medal Shop:</b> Includes rewards from the
      <WikiLink page="Medal Shop">Medal Shop</WikiLink>.
    </p>
  </li>
  <li>
    <p>
      <b>Prototype Shop:</b> Includes rewards from the
      <WikiLink page="Prototype Shop">Prototype Shop</WikiLink>.
    </p>
  </li>
  <li>
    <p>
      <b>Event Shop:</b> Includes rewards from the
      <WikiLink page="Shops#Event Shop" title="Event Shop"
        >Limited Event Shop</WikiLink
      >.
    </p>
  </li>
  <li>
    <p>
      <b>META Shop:</b> Includes rewards from the
      <WikiLink page="Shops#META Shop" title="META Shop">META Shop</WikiLink>.
    </p>
  </li>
</ul>
<br />
