html {
  scroll-behavior: smooth;
}

body {
  background-color: #121212;
}

.guide-content-body {
  background-color: #1b1b1b;
  border: 2px solid #252525;
}

h1 {
  color: hsla(0,0%,100%,.9);
  text-align: center;
}

h2 {
  color: hsla(0,0%,100%,.9);
}

h3 {
  color: hsla(0,0%,100%,.9);
}

h6, .h6 {
  font-size: 0.75rem;
  color: hsla(0,0%,100%,.9);
  text-transform: uppercase;
}

.footer-style {
  padding: 4px;
  margin: 8px;
  float: right;
}

.footer-style-two {
  padding: 4px;
  margin: 8px;
  float: left;
}

.title {
  font-weight: 600;
}

p {
  color: hsla(0,0%,100%,.6);
  font-size: medium;
}

ul {

  font-size: large;

}

li {

  color: hsla(0,0%,100%,.9);

}

a:link {
  color: pink;
  background-color: transparent;
  text-decoration: none;
  
}

a:visited {
  color: orange;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: green;
  background-color: transparent;
  text-decoration: underline;
}



.rarity-5 {
  background: linear-gradient(120deg,#fbffca,#baffbf,#a7efff,#ffabff);
}

.rarity-4 {
  background-color: #ee9;
  border-color: #ee9;
}

.rarity-3 {
  background-color: #c4adff;
  border-color: #c4adff;
}

.rarity-2 {
  background-color: #9fe8ff;
}

.border-radius-0 {
  border-radius: 0;
}

div {
  display: block;
}

.footer {
  border: none!important;
  box-shadow: 0 -1px 7px 0 #333;
  background: none;
  background-color: #222a42!important;
}