# datamining
datamine
/parsing
# this repo or it's data will likely be embeded, so these should not be exposed
tsconfig.json
.eslintrc.json
package.json
package-lock.json
# misc
.idea
node_modules
bun.lockb
.vscode
# unfinished and only affects planes no one cares about as of now
interceptor_overrides.json