---
import { HR } from "@components/_common/HR"
import { ItemTable } from "@components/_common/ItemTable"
import { ShipCell } from "@components/_common/ItemCell"
import WikiLink from "@components/_common/WikiLink.astro"
---

<h2 id="introduction">Introduction</h2>
<HR />
<p>Here are some good ships players can get extremely early on in Azur Lane!</p>
<p class="font-bold italic">
  See the <a href="/shop_priority" target="_self" rel="noopener noreferrer">
    Shop Priority Guide
  </a>
  for more detailed shop information.
</p>
<br />

<h2 id="starter">Starter Ships</h2>
<HR />
<p>
  <b>You only need to level 1 starter ship</b>; no need to focus on all 3 at the
  start of the game. They are all fairly equal in strength.
</p>

<ItemTable
  tableInfo={[
    { colName: "Ship", colWidth: "22%" },
    { colName: "Location", colWidth: "25%" },
    { colName: "Description", colWidth: "53%", limiter: true },
  ]}
>
  <tr>
    <td>
      <ShipCell ship="Javelin" rarity={3} />
    </td>
    <td>
      <p>
        <WikiLink page="List of Ship Drops">Map Drop</WikiLink>
        <br />
        (all stages except Chapter 1)
      </p>
    </td>
    <td>
      <p>
        Great DD option, especially once fully maxed. <b
          >Retrofit as soon as possible!</b
        >
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <ShipCell ship="Laffey" rarity={3} />
    </td>
    <td>
      <p>
        <WikiLink page="List of Ship Drops">Map Drop</WikiLink>
        <br />
        (all stages except Chapter 1)
      </p>
    </td>
    <td>
      <p>
        Great DD option, especially once fully maxed. <b
          >Retrofit as soon as possible!</b
        >
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <ShipCell ship="Z23" rarity={3} />
    </td>
    <td>
      <p>
        <WikiLink page="List of Ship Drops">Map Drop</WikiLink>
        <br />
        (all stages except Chapter 1)
      </p>
    </td>
    <td>
      <p>
        Great DD option, especially once fully maxed. <b
          >Retrofit as soon as possible!</b
        >
      </p>
    </td>
  </tr>
</ItemTable>
<br />
<br />

<h2 id="guild_shop">
  <WikiLink page="Shops#Guild_Shop" title="Guild Shop">Guild Shop</WikiLink>
</h2>
<HR />
<p>
  <i>
    See also: <a
      href="/shop_priority#guild"
      target="_self"
      rel="noopener noreferrer">Guild Shop (Shop Priority Guide)</a
    >
  </i>
</p>
<p>
  <b>Notes</b>:
  <i>
    <ul>
      <li>
        <p>
          You can refresh the Guild Shop using Guild Coins, <b
            >DO NOT USE GEMS TO REFRESH SHOPS!</b
          >
        </p>
      </li>
      <li>
        <p>
          Retrofit all ships EXCEPT <WikiLink page="Helena">Helena</WikiLink>,
          whenever possible. Helena Retrofit is lower priority compared to other
          retrofits listed.
        </p>
      </li>
    </ul>
  </i>
</p>
<br />

<ItemTable
  tableInfo={[
    { colName: "Ship", colWidth: "22%" },
    { colName: "Location", colWidth: "25%" },
    { colName: "Description", colWidth: "53%", limiter: true },
  ]}
>
  <tr>
    <td>
      <ShipCell ship="Unicorn" rarity={3} />
    </td>
    <td>
      <p>
        <WikiLink page="Shops#Guild Shop" title="Guild Shop"
          >Guild Shop - Elite Ship</WikiLink
        >
      </p>
    </td>
    <td>
      <p>
        Unicorn is the best healer in the game. <b
          >Retrofit as soon as possible!</b
        >
      </p>
    </td>
  </tr>

  <tr>
    <td>
      <ShipCell ship="Helena" rarity={3} />
    </td>
    <td>
      <p>
        <WikiLink page="Shops#Guild Shop" title="Guild Shop"
          >Guild Shop - Elite Ship</WikiLink
        >
      </p>
    </td>
    <td>
      <p>
        Helena is a decent damage-dealer early on, and her support capabilities
        are top-tier for bosses.
      </p>
    </td>
  </tr>

  <tr>
    <td>
      <ShipCell ship="Portland" rarity={2} />
    </td>
    <td>
      <p>
        <WikiLink page="Shops#Guild Shop" title="Guild Shop"
          >Guild Shop - Rare Ship</WikiLink
        >
      </p>
    </td>
    <td>
      <p>
        Portland is a great tank for mid-late game. <b
          >Retrofit as soon as possible!</b
        >
      </p>
    </td>
  </tr>

  <tr>
    <td>
      <ShipCell ship="Pennsylvania" rarity={2} />
    </td>
    <td>
      <p>
        <WikiLink page="Shops#Guild Shop" title="Guild Shop"
          >Guild Shop - Rare Ship</WikiLink
        >
      </p>
    </td>
    <td>
      <p>She is your best easily-accessible BB.</p>
    </td>
  </tr>
</ItemTable>
<br />
<br />

<h2 id="medal_shop">
  <WikiLink page="Shops#Medal_Shop" title="Medal Shop">Medal Shop</WikiLink>
</h2>
<HR />
<p>
  <i>
    See also: <a
      href="/shop_priority#medal"
      target="_self"
      rel="noopener noreferrer">Medal Shop (Shop Priority Guide)</a
    >
  </i>
</p>
<p>
  <b>Notes</b>:
  <i>
    <ul>
      <li>
        <p>
          The other ships not listed here are mainly for collection purposes, or
          are sidegrades to cheaper ships listed in this guide.
        </p>
      </li>
      <li>
        <p>Duplicates are fine since they save bulins!</p>
      </li>
    </ul>
  </i>
</p>
<br />

<ItemTable
  tableInfo={[
    { colName: "Ship", colWidth: "22%" },
    { colName: "Location", colWidth: "25%" },
    { colName: "Description", colWidth: "53%", limiter: true },
  ]}
>
  <tr>
    <td>
      <ShipCell ship="Enterprise" rarity={4} />
    </td>
    <td>
      <p>
        <WikiLink page="Shops#Medal Shop" title="Medal Shop"
          >Medal Shop - CV</WikiLink
        >
      </p>
    </td>
    <td>
      <p>Amazing damage-oriented CV.</p>
    </td>
  </tr>

  <tr>
    <td>
      <ShipCell ship="Hood" rarity={4} />
    </td>
    <td>
      <p>
        <WikiLink page="Shops#Medal Shop" title="Medal Shop"
          >Medal Shop - BB</WikiLink
        >
      </p>
    </td>
    <td>
      <p>
        Great flagship-oriented BC, suitable for any content. <i
          >Unique Augment is a great improvement over base Hood, but it is not
          necessary until much later in the game.</i
        >
      </p>
    </td>
  </tr>

  <tr>
    <td>
      <ShipCell ship="San Diego" rarity={4} />
    </td>
    <td>
      <p>
        <WikiLink page="Shops#Medal Shop" title="Medal Shop"
          >Medal Shop - CL</WikiLink
        >
      </p>
    </td>
    <td>
      <p>
        <b>Post-Retrofit</b>: Amazing damage-oriented and AA CL. Lower priority
        compared to other ships in this guide, but nice to have for later.
      </p>
    </td>
  </tr>
</ItemTable>
<br />
<br />

<h2 id="core_data_shop">
  <WikiLink page="Shops#Core_Exchange" title="Core Data Shop"
    >Core Data Shop</WikiLink
  >
</h2>
<HR />
<p>
  <i>
    See also: <a
      href="/shop_priority#core_data"
      target="_self"
      rel="noopener noreferrer">Core Data Shop (Shop Priority Guide)</a
    >
  </i>
</p>
<br />

<ItemTable
  tableInfo={[
    { colName: "Ship", colWidth: "22%" },
    { colName: "Location", colWidth: "25%" },
    { colName: "Description", colWidth: "53%", limiter: true },
  ]}
>
  <tr>
    <td>
      <ShipCell ship="Independence" rarity={3} />
    </td>
    <td>
      <p>
        <WikiLink page="Shops#Core Exchange" title="Core Data Shop"
          >Core Data Shop</WikiLink
        >
      </p>
    </td>
    <td>
      <p>
        <b>Post-Retrofit</b>: Amazing support-oriented CV with great damage.
        Lower priority compared to other ships in this guide, but nice to have
        for later.
      </p>
    </td>
  </tr>
</ItemTable>
<br />
<br />

<h2 id="map_drops">Map Drops</h2>
<HR />
<p>
  <b>Notes</b>:
  <i>
    <ul>
      <li>
        <p>
          Only the earliest drop location is listed. Go to the ship's wiki page
          for multiple drop locations.
        </p>
      </li>
      <li>
        <p>
          Retrofit all ships <b>EXCEPT</b> Yamashiro and Fusou, whenever possible.
        </p>
      </li>
    </ul>
  </i>
</p>
<br />

<ItemTable
  tableInfo={[
    { colName: "Ship", colWidth: "11%", colSpan: 2 },
    { colName: "Location", colWidth: "25%" },
    { colName: "Description", colWidth: "53%", limiter: true },
  ]}
>
  <tr>
    <td colspan="2">
      <ShipCell ship="Leander" rarity={1} />
    </td>
    <td>
      <p>
        <WikiLink page="1-4">1-4</WikiLink>
      </p>
    </td>
    <td>
      <p>Easily accessible CL with a great price-to-performance ratio.</p>
    </td>
  </tr>

  <tr>
    <td>
      <ShipCell ship="London" rarity={3} />
    </td>
    <td>
      <ShipCell ship="Shropshire" rarity={2} />
    </td>
    <td>
      <p>
        <WikiLink page="2-1">2-1</WikiLink> (London) /
        <br />
        <WikiLink page="4-2">4-2</WikiLink> (Shropshire)
      </p>
    </td>
    <td>
      <p>
        <b>Post-Retrofit</b>: Frail, but have great damage.
        <br />
        Really need retrofit, are bad without them.
      </p>
    </td>
  </tr>

  <tr>
    <td>
      <ShipCell ship="Nevada" rarity={1} />
    </td>
    <td>
      <ShipCell ship="Oklahoma" rarity={1} />
    </td>
    <td>
      <p>
        <WikiLink page="2-2">2-2</WikiLink>
      </p>
    </td>
    <td>
      <p>
        Have an amazing price-to-performance ratio, especially early-mid game.
      </p>
    </td>
  </tr>

  <tr>
    <td colspan="2">
      <ShipCell ship="Nelson" rarity={3} />
    </td>
    <td>
      <p>
        <WikiLink page="2-3">2-3</WikiLink>
      </p>
    </td>
    <td>
      <p>
        <b>Post-Retrofit</b>: Has a great barrage and good main gun damage.
        Without retrofit, she is meh.
      </p>
    </td>
  </tr>

  <tr>
    <td colspan="2">
      <ShipCell ship="Ranger" rarity={1} />
    </td>
    <td>
      <p>
        <WikiLink page="3-1">3-1</WikiLink>
      </p>
    </td>
    <td>
      <p>
        Has an amazing price-to-performance ratio, especially early-mid game.
      </p>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <ShipCell ship="Langley" rarity={1} />
    </td>
    <td>
      <p>
        <WikiLink page="3-1">3-1</WikiLink>
      </p>
    </td>
    <td>
      <p>Has great AA for a carrier, as well as decent damage for the price.</p>
    </td>
  </tr>

  <tr>
    <td>
      <ShipCell ship="Hiryuu" rarity={3} />
    </td>
    <td>
      <ShipCell ship="Souryuu" rarity={3} />
    </td>
    <td>
      <p>
        <WikiLink page="3-1">3-1</WikiLink>
      </p>
    </td>
    <td>
      <p>
        Great damage-oriented CVs, with the drawback that they both need to be
        in the same fleet
      </p>
    </td>
  </tr>

  <tr>
    <td colspan="2">
      <ShipCell ship="Saratoga" rarity={3} />
    </td>
    <td>
      <p>
        <WikiLink page="4-1">4-1</WikiLink>
      </p>
    </td>
    <td>
      <p>
        Amazing mobbing CV with great damage and consistent damage output
        compared to other CVs.
        <br />
        Really wants Unique Augment Module & Retrofit, is average without them.
      </p>
    </td>
  </tr>

  <tr>
    <td colspan="2">
      <ShipCell ship="Juneau" rarity={2} />
    </td>
    <td>
      <p>
        <WikiLink page="5-2">5-2</WikiLink>
      </p>
    </td>
    <td>
      <p>
        <b>Post-Retrofit</b>: Has amazing AA along with solid damage.
        <br />
        Really needs retrofit, is bad without it.
      </p>
    </td>
  </tr>

  <tr>
    <td colspan="2">
      <ShipCell ship="Ark Royal" rarity={3} />
    </td>
    <td>
      <p>
        <WikiLink page="6-3">6-3</WikiLink>
      </p>
    </td>
    <td>
      <p>Great support-oriented CV with great damage as well.</p>
    </td>
  </tr>
</ItemTable>
<br />
<br />

<h2 id="research">Research (PR/DR) Ships</h2>
<HR />
<p>
  <i>
    Main Article: <a rel="noopener noreferrer" target="_self" href="/research"
      >Research Guide</a
    ></i
  >
</p>
<br />
